<div class="container word cht">
  <div class="row" *ngIf="requestStatus.isServerRequesting">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!requestStatus.isServerRequesting">
    <div class="col-sm-12">
      <div style="height:75px;">
        <div class="tablistmode">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#wo" aria-controls="wo" role="tab" data-toggle="tab">Word Lists</a></li>
            <li role="presentation"><a href="#se" aria-controls="se" role="tab" data-toggle="tab">Sentence Lists</a></li>
          </ul>
          <br>
        </div>

      </div>
      <!--tab-->
      <div class="row">
        <div class="col-sm-3">
          <div class="leftsidebar">
            <div class="row">
              <div class="col-md-12">
                <div class="leftbox">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="leftboxheader">
                        <h3>Language</h3>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="leftboxbody">
                        <wb-dropdown *ngIf="languages.length > 0" [list]="languages" (onSelect)="onLanguageChange($event)">
                        </wb-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="leftbox">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="leftboxheader">
                        <h3>Sort By</h3>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="leftboxbody">
                        <wb-dropdown *ngIf="sortingOptions.length > 0" [list]="sortingOptions" (onSelect)="onSortChange($event)">
                        </wb-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--col-3-->
        <div class="col-sm-9">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="wo">
              <div class="row" *ngFor="let row of wordList; let i=index">
                <br />
                <div class="col-sm-3" *ngFor="let word of row;">
                  <div class="tile">
                    <a class="listlink" (click)="onListClick(word, 1);">
                      <img src="{{word?.imageLink}}" onError="this.src='images/word-img.jpg'">
                      <p>
                        {{word?.excerpt}}
                      </p>
                      <div class="progress" style="height:5px;margin:5px;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': getPercentage(word.learned, word.total) + '%'}">
                        </div>
                      </div>
                      <div class="tileflag">
                        <i class="{{getCountryFlag(word.languageId)}}" style="float:left"></i>
                        <span style="float:right">{{word.learned}}/{{word.total}}</span>

                      </div>
                      <div class="clearfix"></div>
                      <h2 class="listnametxt">{{word.name}}</h2>
                    </a>
                  </div>
                </div>
                <!--col-3-->
              </div>
              <!--row-->
              <div class="row" *ngIf="!requestStatus.isServerRequesting && wordList.length == 0">
                <div class="col-md-12">
                  <h5>No word lists found.</h5>
                </div>
              </div>
            </div>
            <!--tab-panel-->
            <div role="tabpanel" class="tab-pane" id="se">
              <div class="row" *ngFor="let value of sentenceList">
                <div class="col-sm-3" *ngFor="let sentence of value">
                  <div class="tile">
                    <a class="listlink" (click)="onListClick(sentence, 2);">
                      <img src="{{sentence?.imageLink}}" onError="this.src='images/word-img.jpg'">
                      <p>
                        {{sentence?.excerpt}}
                      </p>
                      <div class="progress" style="height:5px;margin:5px;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': getPercentage(sentence.learned, sentence.total) + '%'}">
                        </div>
                      </div>
                      <div class="tileflag">
                        <i class="{{getCountryFlag(sentence.languageId)}}" style="float:left"></i>
                        <span style="float:right">{{sentence.learned}}/{{sentence.total}}</span>

                      </div>
                      <div class="clearfix"></div>
                      <h2 class="listnametxt">{{sentence.name}}</h2>
                    </a>
                  </div>
                  <!--tile-->
                </div>
                <!--col-3-->
              </div>
              <!--row-->
              <div class="row" *ngIf="!requestStatus.isServerRequesting && sentenceList.length == 0">
                <div class="col-md-12">
                  <h5>No sentence lists found.</h5>
                </div>
              </div>
            </div>
            <!--tab-panel-->
          </div>
          <!--tab-content-->
        </div>
        <!--col-9-->
      </div>
      <!--row-->
    </div>
    <!--col-10-->
  </div>
  <!--row-->
</div>
<!--container-->
<wb-footer-new *ngIf="!requestStatus.isServerRequesting"></wb-footer-new>

<div bsModal #modal="bs-modal" class="modal fade empty-list-modal" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{clickedListData?.name}}</h4>
      </div>
      <div class="modal-body">
        <p>This list is empty. Here are some useful, high-frequency words we recommend
          adding.
        </p>
        <p>Click the words you want to learn to add them to this list:
          <a class="suggested-word-list" href="javascript:void(0);" *ngFor="let word of clickedListData?.wordList">{{word.lemma ? word.lemma : word.text}}</a>
        </p>

        <p>You can also find new vocabulary by reading sentences from the
          <a [routerLink]="['/explore']">{{clickedListData?.languageId}} news</a>.
          Click any word to learn its meaning, see more example sentences, and add
          it to your list.</p>
      </div>
    </div>
  </div>
</div>