<!--Header Desktop-->
<div class="header hidden-xs hidden-sm visible-md visible-lg">
	<div class="container">
		<div class="row">
			<div class="col-md-3 logobox">
				<div class="logo">
					<a routerLink="/"><img src="images/logo.png" /></a>
				</div>
			</div>
			<div class="col-md-4 menuboxmain">
				<div class="topmenu" id="topleftmenu">
					<ul>
						<li *ngIf="userData?.role === 'admin'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">
							<a [routerLink]="['./course', 'home']">Courses</a></li>
						<li *ngIf="(userSvc.isLoggedIn$ | async)" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">
							<a [routerLink]="['list']">Lists</a></li>
						<li *ngIf="true || (userSvc.isLoggedIn$ | async)" routerLinkActive="active"><a [routerLink]="['explore']">Explore</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 menuboxright" *ngIf="!(userSvc.isLoggedIn$ | async)">
				<!--  Not Logged In User -->
				<div class="col-md-12 col-sm-12 menuboxright pull-right">
					<div class="topmenu" id="toprightmenu">
						<ul>
							<li routerLinkActive="active"><a routerLink="account/register">Join WordBrewery</a></li>
							<li routerLinkActive="active"><a routerLink="account/login">Log in</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-5 menuboxright" *ngIf="(userSvc.isLoggedIn$ | async)">
				<div class="topmenu col-md-5 col-sm-5 " id="toprightmenu" *ngIf="hops">
					<ul>
						<li>
							<a href="javascript:void(0);" [popover]="hopPopover"><img src="images/fl-icon.png"><span>{{hops}}</span></a>

							<popover-content class="hop-popover" #hopPopover placement="bottom" [animation]="true"
								[closeOnClickOutside]="true">
								<h5>WordBrewery learners earn hops by actively studying a language with actions
									like the following:</h5>
								<ul>
									<li>Practicing on WordBrewery daily.</li>
									<li>Creating a new study list with at least ten words or sentences.</li>
									<li>Reporting a bad sentence by clicking the thumbs-down icon.</li>
								</ul>
								<h5>We will add more ways to earn and benefit from hops in the coming months.</h5>
							</popover-content>
						</li>
						<li style="visibility:hidden">
							<a href="#"><img src="images/lg-icon.png"><span>2</span></a>
						</li>
					</ul>
				</div>

				<div class="col-md-7 col-sm-7 menuboxright pull-right" *ngIf="(userSvc.isLoggedIn$ | async)">
					<div class="dropdown after-login-menu text-right">
						<a class="dropdown-toggle" type="button" data-toggle="dropdown">
							<img src="{{userProfileData?.avatarUrlSmall}}">
							<span class="hoverarrow">{{userProfileData?.userEmail | truncate}}</span>
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a routerLink="/user">Profile</a></li>
							<li><a href="javascript:void(0);" (click)="logout()">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Header Mobile-->
<div class="header hidden-md hidden-lg visible-xs visible-sm">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<nav class="animenu">
					<button class="animenu__toggle">
              <span class="animenu__toggle__bar"></span>
              <span class="animenu__toggle__bar"></span>
              <span class="animenu__toggle__bar"></span>
            </button>
					<ul class="animenu__nav">
						<li *ngIf="userData?.role === 'admin'" routerLinkActive="active">
							<a [routerLink]="['./course', 'home']">Courses</a>
						</li>
						<li routerLinkActive="active" *ngIf="(userSvc.isLoggedIn$ | async)"><a [routerLink]="['./list']">Lists</a></li>
						<li routerLinkActive="active" *ngIf="(userSvc.isLoggedIn$ | async)"><a [routerLink]="['./explore']">Explore</a></li>
						<li routerLinkActive="active" *ngIf="!(userSvc.isLoggedIn$ | async)"><a [routerLink]="['./account', 'register']">Join WordBrewery</a></li>
						<li routerLinkActive="active" *ngIf="!(userSvc.isLoggedIn$ | async)"><a [routerLink]="['./account', 'login']">Log in</a></li>
						<li routerLinkActive="active" *ngIf="(userSvc.isLoggedIn$ | async)">
							<a routerLink="/user">{{userProfileData?.userEmail | truncate}}</a>
						</li>
						<li><a href="javascript:void(0);" (click)="logout()">Log out</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-12">
				<div class="mobilelogo">
					<a [routerLink]="['']"><img src="images/mobile-logo.png" /></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="cd-popup" role="alert" id="cookieModal">
	<div class="cd-popup-container loginbox">

		<div class="signupbox">
			<div class="row">
				<div class="col-md-12">
					<h3 class="singupwelcometext">Cookie Agreement</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="success-text">
						WordBrewery uses cookies to provide its services. By using<br /> WordBrewery,
						you consent to our <a target="_blank" [routerLink]="['./terms']">Terms of Use and Privacy Policy</a>.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="modal-btn-bx">
						<button (click)="saveUserAgreement(true);" class="btn-teal pull-left">I agree</button>
						<a href="http://www.youronlinechoices.eu/" target="_blank" style="text-decoration:none;cursor:pointer;"
							class="pull-right">I disagree</a>
					</div>
				</div>
			</div>
		</div>
		<!-- .signupbox end -->
	</div>
</div>
<audio id="audio" initialized="false">
	<source src="">
</audio>