<div class="col-md-9 col-sm-9 col-xs-12 profile-main prof_border_lft">

  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="acc_profile_img">
      <img src="{{userProfileData?.avatarUrlSmall}}">
    </div>
    <!-- .acc_profile_img end -->

    <!--<div class="row profile-badge">
      <a href="#">premium</a>
    </div>-->
    <!-- .profile-badge end -->
  </div>
  <!-- .col-3 end -->

  <div class="col-md-9 col-sm-9 col-xs-12 no-pad">
    <div class="row">
      <div class="profile_desc col-md-5 col-sm-6 col-xs-12">
        <h3>{{userProfileData?.userName}}</h3>
        <p class="profile_location"><span class="fa fa-map-marker"></span> {{userProfileData?.location || 'NA'}}</p>
        <p class="profile_date">from {{userData?.joinedMonth}}, {{userData?.joinedYear}}</p>
      </div>
      <!-- .profile_desc end -->

      <!--<div class="profile_soc_icon col-md-3 col-sm-2 col-xs-12">
        <ul>
          <li class="profile_soc_fb"><a href="#"><span class="fa fa-facebook-square"></span></a></li>
          <li class="profile_soc_gplus"><a href="#"><span class="fa fa-google-plus-square"></span></a></li>
        </ul>
      </div>-->
      <!-- .profile_soc_icon end -->

      <div class="profile_credit col-md-4 col-sm-4 col-xs-12">
        <img src="images/profile/prof-credit_img.png">
        <h1>{{hops}}</h1>
      </div>
      <!-- .profile_credit  end -->

    </div>
    <!-- .row end -->
    <!--
 			  <div class="row profile_learning_lang">
 			   <h3>Learning:</h3>
 			   <span><img src="images/profile/prof_spanish_lang.png">  <p><strong>Spanish</strong> (intermediate)</p></span>
 			  </div>

 			  <div class="row profile_timeline">
 			   <h3>Timeline</h3>

				<div class="timeline-container">
				   <div class="row achive-label"><p>Earned achievement 2 days ago</p></div>
				   <div class="prof_achive_block col-md-10 col-sm-11 col-xs-12">
					<div class="achive_badge"><img src="images/profile/prof_achive_icon.png">
					<strong>100</strong></div>

					<h3>Learned 100 spanish words at intermediate level</h3>
				   </div>

					<div class="prof_divider col-md-10 col-sm-11 col-xs-12"></div>
				</div>

 			  </div>
 -->
  </div>
  <!-- .col-9 end -->

</div>
<!-- .profile-main/col-9-main end -->