<div class="row">
  <div class="container profile_sec" style="min-height:500px;">
    <div class="row profile_logout hidden-xs">
      <a href="javascript:void(0);" (click)="logout();"><span class="fa fa-sign-out"></span>  Log out</a>
    </div>
    <!-- .profile_logout end -->

    <div class="col-md-3 col-sm-3 col-xs-12 profile-sidebar">
      <div class="side_menu">
        <ul>
          <li routerLinkActive="side_menu_active" 
          [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/user">
              <span class="fa fa-user"></span>
              My account
            </a>
          </li>
          <!--<li routerLinkActive="side_menu_active"><a [routerLink]="['/user', 'statistic']"><span class="fa fa-user"></span>  My statistics</a></li>-->
          <li routerLinkActive="side_menu_active"
          [routerLinkActiveOptions]="{exact:false}"><a routerLink="/user/settings"><span class="fa fa-cog"></span>  My settings</a></li>
          <li class="visible-xs"><a href="javascript:void(0);" (click)="logout();"><span class="fa fa-sign-out"></span> Log out</a></li>
        </ul>
      </div>
      <!-- .side_menu end -->
      <!--<div class="row go-premium-link">
        <a [routerLink]="['/user', 'plans']">4
				  GO PREMIUM</a>
      </div>-->
      <!-- .go-premium-link -->
    </div>
    <!-- .profile-sidebar/col-3-main end -->

    <router-outlet></router-outlet>

  </div>
  <!-- .profile_sec/container -->

</div>
<!-- .row -->