<div class="col-md-9 col-sm-9 col-xs-12 profile-setting">
	<div class="col-md-offset-3 col-md-9 col-xs-12 profile-setting-tab">

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"><a routerLink="/user/settings" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
			<!--<li role="presentation" [class.active]="isActive(['ChangeEmail'])"><a [routerLink]="['../ProfileSettings', 'ChangeEmail']" aria-controls="email" role="tab" data-toggle="tab">Change Email</a></li>-->
			<li role="presentation" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact:true}"><a routerLink="/user/settings/changePassword" aria-controls="pwd" role="tab" data-toggle="tab">Change Password</a></li>
		</ul>
	</div>
	<!--col-md-12-->
	<hr class="setting-tab-hr">
	<div class="tab-content">
		<router-outlet></router-outlet>
	</div>
	<!--tab-content-->
</div>
<!-- .profile-main/col-9-main end -->