<div class="signupbox">
  <form autocomplete="off" [formGroup]="forgotPwdForm" role="form" novalidate (ngSubmit)="forgotPassword();">
    <div class="row">
      <div class="col-md-12">
        <h3 class="singupwelcometext singupwelcometext2">Forgot password?</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h5 class="success-text" *ngIf="!response && !response?.message">
          Enter your email adress and we will send you a link to reset your password:
        </h5>
         <h5 class="text-danger text-center" *ngIf="response && !response?.status">
          Your email does not exist in our record.
        </h5>
         <h5 class="text-danger text-center" *ngIf="response && response?.status">
          Activation link has been sent on your register email address.
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="signupformbox">
          <control-messages [control]="forgotPwdForm.controls.userEmail"></control-messages>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group label-floating is-empty" [ngClass]="{'has-error': forgotPwdForm.controls.userEmail.dirty && !forgotPwdForm.controls.userEmail.valid}">
                <label class="control-label" for="email">Email </label>
                <input type="email" class="form-control" formControlName="userEmail" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="loginsignupbuttongbox forgot-btn-box">
          <button class="btn btn-block wb-btn" type="submit" [disabled]="!forgotPwdForm.valid || isLoading">Send &nbsp;&nbsp;&nbsp;&nbsp;<i *ngIf="isLoading" class="fa fa-refresh fa-spin"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>