<div class="row">
    <div class="col-md-12">
        <div class="aboutimg-container">
            <div class="full-width-about-image">
                <h1>Fluency one sentence at a time.</h1>
            </div>
        </div>
        <div class="about-container">
            <p class="wb-about-tag-line">Efficient, fast and rewarding.</p>
            <p>WordBrewery immerses you in 17 languages by pulling real and recent sentences from news sites across the globe.
                You decide what you want to read about-news, culture, business, tech, or sports—and you decide how challenging
                you want your sentences to be.</p>

            <p>WordBrewery provides a way to learn languages that is more realistic than stilted dialogues, more challenging
                than canned phrases, more memorable than lists of words stripped from context, and more meaningful than the
                random computer-generated phrases presented in some apps (El médico es en el refrigerador? Really?). </p>

            <p>Because people learn best with context and short bursts of activity, our unit of study is the sentence—not the
                artificial conversation or the isolated vocabulary word. Words come in sentences, not in dull vocabulary
                lists, and we will never ask you to learn a word divorced from the context of an authentic sentence.</p>

            <p>Finally, WordBrewery is tailored to you. We are building an algorithm that learns your level of linguistic knowledge,
                then selects sentences that are at—or slightly above—your skill level. Every sentence is a challenge, but
                a challenge you are ready for.</p>
        </div>
        <div class="spacer-60"></div>
        <div class="block color-jelly-bean">
            Let us know what you think and what features you would like us to build for you at
            <a style="color:#fff;" href="mailto:admin@wordbrewery.com">admin@wordbrewery.com</a>.
        </div>
    </div>
    <!--col-12-->
</div>
<!--row-->
<!--row-->
<wb-footer-new></wb-footer-new>
<!--AboutPage End-->