<div class="contentwrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="loginbox">
          <div class="row" *ngIf="isTabEnable()">
            <div class="col-md-12">
              <div class="loginboxheader">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li routerLinkActive="active"><a [routerLink]="['./login']">Log in</a></li>
                  <li routerLinkActive="active"><a [routerLink]="['./register']">Sign up</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>