

		  <div class="col-md-9 col-sm-9 col-xs-12 price_plan">
 			<div class="row">
 				<div class="col-xs-12 col-sm-4 col-md-4 price_plan_blk price_plan_green">
 					<div class="plan-tile">
 						<h1>Free</h1>
 						<p>
 							Unlimited Explore Mode<br>10 quizzes each month<br>5 lists<br>750 items per list<br>Export to Anki
 						</p>
 					</div><!--plan-tile-->
 				</div><!--col-sm-4-->
 				<div class="col-xs-12 col-sm-4 col-md-4 price_plan_blk price_plan_blue">
 					<div class="plan-tile">
 						<h1>Premium<span>$1,000/year or $99/month</span></h1>
 						<p>
 							Unlimited Explore Mode<br>Unlimited quizzes<br>Unlimited lists<br>3,000 items per list<br>Export to Anki<br>Share progress with teachers<br>Unlimited courses<br>24 hour support<br>24 hour native speaker support<br>100 flashcards each month<br>20% discount on merchandise
 						</p>
 						<div class="text-center">
 							<a href="#" class="btn btn-blue-buy">Buy now</a>
 						</div>
 					</div><!--plan-tile-->
 				</div><!--col-sm-4-->
 				<div class="col-xs-12 col-sm-4 col-md-4 price_plan_blk price_plan_purple">
 					<div class="plan-tile">
 						<h1>Basic<span>$100/year or $9.99/month</span></h1>
 						<p>
 							Unlimited Explore Mode<br>
							Unlimited quizzes<br>
							Unlimited lists<br>
							3,000 items per list<br>
							Export to Anki<br>
							Share progress with teachers<br>
							1 course at a time<br>
							10% discount on merchandise
 						</p>
 						<div class="text-center">
 							<a href="#" class="btn btn-purple-buy">Buy now</a>
 						</div>
 					</div><!--plan-tile-->
 				</div><!--col-sm-4-->
 			</div><!--row-->
		  </div><!-- price_plan/col-9-main end -->
