<div class="signupbox">
  <div class="row">
    <div class="col-md-12">
      <h3 class="singupwelcometext">Welcome to WordBrewery</h3>
    </div>
  </div>
  <form autocomplete="off" [formGroup]="registerForm" role="form" (submit)="register();">
    <div class="row">
      <div class="col-md-12">
        <div class="signupformbox">
          <div class="row" *ngIf="isLoading" style="padding-bottom:10px;">
            <div class="col-md-12 text-danger">
              Please wait...   <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
          <div class="row" *ngIf="errorMessage" style="padding-bottom:10px;">
            <div class="col-md-12">
              <span class="text-danger">{{errorMessage}}</span>
            </div>
            <br/>
          </div>
          <control-messages [control]="registerForm.controls.userEmail"></control-messages>
          <control-messages [control]="registerForm.controls.userPassword"></control-messages>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group label-floating" [ngClass]="{'has-error': registerForm.controls.userEmail.dirty && !registerForm.controls.userEmail.valid}">
                <label class="control-label" for="email">Email </label>
                <input id="email" type="email" formControlName="userEmail" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="passbox">
                <div class="form-group label-floating" [ngClass]="{'has-error': registerForm.controls.userPassword.dirty && !registerForm.controls.userPassword.valid}">
                  <label class="control-label" for="password">Password</label>
                  <show-hide-container>
                    <input id="password" type="password" show-hide-input autocomplete="off" formControlName="userPassword" class="form-control"
                    />
                  </show-hide-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="loginsignupbuttongbox">
          <button class="btn btn-block wb-btn" type="submit" [disabled]="!registerForm.valid || isLoading">Create Account</button>
        </div>
      </div>
    </div>
  </form>
   <div class="row">
    <div class="col-md-12">
      <div class="orclause">
        <p class="text-center">or use</p>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-12">
      <div class="socialbox">
        <div class="row">
          <wb-facebook (onLogin)="onFacebookLogin($event);"></wb-facebook>
           <wb-google (onLogin)="onGoogleLogin($event);"></wb-google>
        </div>
      </div>
    </div>
  </div> 
</div>