<div class="container word course">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="leftbox">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="leftboxheader">
                                    <h3>Language</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="leftboxbody">
                                    <wb-dropdown *ngIf="ddlLanguages.length > 0" [list]="ddlLanguages" (onSelect)="onChangeLanguage($event)">
                                    </wb-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Level -->
            <div class="row">
                <div class="col-md-12">
                    <div class="leftbox">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="leftboxheader">
                                    <h3>Level</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="leftboxbody">
                                    <wb-dropdown *ngIf="ddlLevels.length > 0" [list]="ddlLevels" (onSelect)="onLevelChange($event)">
                                    </wb-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sorting options -->
            <div class="row">
                <div class="col-md-12">
                    <div class="leftbox">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="leftboxheader">
                                    <h3>Sort By</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="leftboxbody">
                                    <wb-dropdown *ngIf="ddlSortingOptions.length > 0" [list]="ddlSortingOptions" (onSelect)="onSortingChange($event)">
                                    </wb-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--col-3-->
        <div class="col-md-10 col-sm-12">
            <div *ngIf="courses?.length == 0 && !isCourseModeLoading">
                <h2 class="text-center">No Course Found</h2>
            </div>
            <div class="course-search-bx" *ngIf="courses?.length > 0">
                <button><img src="images/course-search-icon.png"></button>
                <input type="text" id="searchbx" placeholder="Search in courses...">
            </div>
            <div class="row" *ngIf="isCourseModeLoading">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="row courses">
                <!-- .course=-search-bx end -->
                <div class=" col-md-3" *ngFor=" let course of courses">
                    <div class="tile" >
                        <a routerLink="/course/study/{{course.code}}"><img src="images/course-img.png">
                            <h2>{{course.name}}<br><small>{{course.languageId}}</small></h2>
                        </a>
                    </div>
                    <!--tile-->
                </div>
            </div>
        </div>
        <!--row-->
    </div>
</div>