<div class="contentwrapper cht">
  <div class="container">
    <div class="row hidden-sm hidden-xs">
      <div class="col-md-3">
        <form (submit)="searchSentencesBySearchText(searchText.value);">
          <div class="explore-input tagline">
            <button class="pull-left" type="submit"><img src="images/course-search-icon.png"></button>
            <input type="text" #searchText placeholder="Find a sentence" />
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="tagline">
          <h3>Click any word in the sentence see its meaning or add it to a study list.</h3>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row" id="middlecontainer">
            <div class="col-md-3 hidden-xs hidden-sm">
              <div class="leftsidebar">
                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxheader">
                            <h3>Language</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxbody">
                            <wb-dropdown *ngIf="ddlLanguages.length > 0" [list]="ddlLanguages" (onSelect)="onChangeLanguage($event)">
                            </wb-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxheader">
                            <h3>Level</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxbody">
                            <wb-dropdown *ngIf="ddlLevels.length > 0" [list]="ddlLevels" (onSelect)="onChangeLevel($event)">
                            </wb-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxheader">
                            <h3>Topic</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxbody">
                            <wb-dropdown *ngIf="ddlCategories.length > 0" [list]="ddlCategories" (onSelect)="onChangeCategory($event)">
                            </wb-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <!-- carousel for statistics -->
                      <carousel [interval]="false">
                        <slide [active]="true">
                          <div class="row course-prog">
                            <div class="col-md-12  exp-tile-chart text-center">
                              <word-counter [title]="'Words Encountered'" [language]="settings.currentLanguage.languageId"
                                [wordMastered]="wordsShown" [counterType]="'Words'">
                              </word-counter>
                            </div>
                          </div>
                        </slide>
                        <slide>
                          <div class="row course-prog">
                            <div class="col-md-12  exp-tile-chart text-center">
                              <word-counter [title]="'Sentences Studied'" [language]="settings.currentLanguage.languageId"
                                [wordMastered]="sentencesShown" [counterType]="'Sentences'">
                              </word-counter>
                            </div>
                          </div>
                        </slide>
                        <slide>
                          <div class="row course-prog">
                            <div class="col-md-12  exp-tile-chart text-center">
                              <word-counter [title]="'Words Mastered'" [language]="settings.currentLanguage.languageId"
                                [wordMastered]="wordsMastered" [counterType]="'Words'">
                              </word-counter>
                            </div>
                          </div>
                        </slide>
                      </carousel>
                      <!-- end of that -->
                    </div>
                  </div>
                </div>
                <!--CAROUSEL -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="middlesection">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-3 hidden-md hidden-lg">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="tagline">
                            <h3>Click any word in the sentence to read and hear it in
                              context, see its meaning, or add it to a study list.</h3>
                          </div>
                          <div class="explore-input">
                            <button class="pull-left"><img src="images/course-search-icon.png"></button>
                            <input type="text" placeholder="Find a sentence">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box">
                      <sentence-info-box
                      [isRTL]="isRTL"
                      [isLoading]="mainRequestStatus.isServerRequesting && !clickedWord"
                      [data]="sentences[0]"
                      (onWordClick)="onWordClicked($event)"
                      (onReport)="reportDialog($event)"></sentence-info-box>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="clickedWord">
                  <div class="col-md-12">
                    <div class="box">
                      <sentence-info-box
                      [isRTL]="isRTL"
                      [isLoading]="aleternateRequestStatus.isServerRequesting && clickedWord"
                      [data]="wordSentence"
                      (onWordClick)="onAlternateSentenceWordClicked($event)"
                      (onReport)="reportDialog($event)"></sentence-info-box>
                    </div>
                  </div>
                </div>
                <div class="row visible-md visible-lg hidden-xs hidden-sm">&nbsp;</div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="stepbutton">
                      <button class="btn" [disabled]="mainRequestStatus.isServerRequesting" (click)="refresh()">Refresh</button>
                    </div>
                  </div>
                </div>
                <!--<div class="row hidden-md hidden-lg visible-xs visible-sm">&nbsp;</div>-->
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="box rightbox boxoverflow">
                    <word-info-box
                    [word]="clickedWord"
                    [emptyWordTitle]="'Click on any word in the sentence to see its meaning.'">
                    </word-info-box>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 hidden-md hidden-lg">
              <div class="leftsidebar">
                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxheader">
                            <h3>Language</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxbody">
                            <wb-dropdown *ngIf="ddlLanguages.length > 0" [list]="ddlLanguages" (onSelect)="onChangeLanguage($event)">
                            </wb-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxheader">
                            <h3>Level</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxbody">
                            <wb-dropdown *ngIf="ddlLevels.length > 0" [list]="ddlLevels" (onSelect)="onChangeLevel($event)">
                            </wb-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxheader">
                            <h3>Topic</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="leftboxbody">
                            <wb-dropdown *ngIf="ddlCategories.length > 0" [list]="ddlCategories" (onSelect)="onChangeCategory($event)">
                            </wb-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="leftbox">
                      <carousel [interval]="false">
                        <slide [active]="true">
                          <div class="row course-prog">
                            <div class="col-md-12  exp-tile-chart text-center">
                              <word-counter [title]="'Words Encountered'" [language]="settings.currentLanguage.languageId"
                                [wordMastered]="wordsShown" [counterType]="'Words'">
                              </word-counter>
                            </div>
                          </div>
                        </slide>
                        <slide>
                          <div class="row course-prog">
                            <div class="col-md-12  exp-tile-chart text-center">
                              <word-counter [title]="'Sentences Studied'" [language]="settings.currentLanguage.languageId"
                                [wordMastered]="sentencesShown" [counterType]="'Sentences'">
                              </word-counter>
                            </div>
                          </div>
                        </slide>
                        <slide>
                          <div class="row course-prog">
                            <div class="col-md-12  exp-tile-chart text-center">
                              <word-counter [title]="'Words Mastered'" [language]="settings.currentLanguage.languageId"
                                [wordMastered]="wordsMastered" [counterType]="'Words'">
                              </word-counter>
                            </div>
                          </div>
                        </slide>
                      </carousel>
                    </div>
                  </div>
                </div>
                <!--CAROUSEL -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cd-popup" role="alert" id="reportModal">
      <div class="cd-popup-container loginbox">

        <form autocomplete="off" [formGroup]="reportForm" novalidate>
          <div class="signupbox">
            <div class="row">
              <div class="col-md-12">
                <h3 class="singupwelcometext">What is wrong with this sentence?</h3>
              </div>
            </div>

            <div class="row" *ngIf="requestStatus.isServerRequesting">
              <div class="col-md-12">
                <h5 class="text-info success-text">Processing . . . <i class="fa fa-refresh fa-spin"></i></h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row" *ngIf="requestStatus.isSuccess">
              <div class="col-md-12">
                <h5 class="text-success success-text">Thank you for reporting the following sentence:</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row" *ngIf="requestStatus.isError">
              <div class="col-md-12">
                <h5 class="text-danger success-text">We could not process your request at this time. Please try again.</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="success-text">
                  {{sentenceReported}}
                </h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="signupformbox">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group label-floating is-empty" [ngClass]="{'has-error': reportForm.controls.reportText.dirty && !reportForm.controls.reportText.valid}">
                        <label class="control-label" for="wiw">What is wrong with this sentence? </label>
                        <input id="wiw" formControlName="reportText" type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="modal-btn-bx">
                  <button class="btn-yellow pull-left" (click)="closeReportModal();">Cancel</button>
                  <button type="button" [disabled]="!reportForm.valid" (click)="report();" class="btn-yellow pull-right">Report</button>
                </div>
              </div>
            </div>
          </div>
          <!-- .signupbox end -->
        </form>
      </div>
    </div>
  </div>
</div>
<wb-footer-new></wb-footer-new>