<div class="row">
	<div class="col-md-12">
		<div class="boxcontent">
			<h3 class="mainword" [class.rtl]="isRTL" #translatorContainer>
				<div *ngIf="isLoading" class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
				</div>
				<span *ngIf="sentence">
            <a *ngFor="let word of sentence.words"
            (mouseover)="onMouseOverWord($event, word)"
            (mouseout)="onMouseOutWord($event)"
            (mouseleave)="onMouseLeaveWord($event)"
            (click)="onWordClicked($event, word, sentence)"
            ><!--
            --><span [class.highlightedword]="word.isHighlighted">{{word.text}}</span>
				<span *ngIf="word.isSpaceAfter">&nbsp;</span>
				</a>
				</span>
				<span *ngIf="!isLoading && !sentence">No sentence found</span>
			</h3>
		</div>
	</div>
</div>

<div class="row" *ngIf="mode == 2" style="padding-top:20px;" [class.disabled]="!sentence || isLoading">
	<div class="col-xs-3 col-sm-4 coursetext">
		<a href="javascript:void(0);" (click)="speak(sentence?.text);"><i class="material-icons">volume_up</i> <span>Audio</span></a>
	</div>
	<!--col-4-->
	<div class="col-xs-3 col-sm-4 text-center coursetext">
		<a href="javascript:void(0);" (click)="translateSenetence(sentence,  translatorContainer)"><i class="material-icons">g_translate</i> <span class="hidden-xs">Translate</span></a>
	</div>
	<!--col-4-->
	<div class="col-xs-3 col-sm-4 text-right coursetext">
		<a href="javascript:void(0)" (click)="openSentenceToList(sentence)"><i class="material-icons">star_border</i> <span class="hidden-xs">Add sentence to list</span></a>
	</div>
	<!--col-4-->
	<div class="col-xs-3"><label class="hidden-sm hidden-lg"><img src="images/dot-icon.png"></label></div>
</div>
<!-- explore mode -->
<div class="row" *ngIf="mode == 1">
	<div class="col-md-12">
		<div class="boxbuttons">
			<ul [class.disabled]="!sentence || isLoading">
				<li>
					<a href="javascript:void(0);" (click)="speak(sentence.text);"><i class="material-icons">volume_up</i> <span>Audio</span></a>
				</li>
				<li *ngIf="settings?.currentLanguage?.languageId != 'English'">
					<a href="javascript:void(0)" (click)="translateSenetence(sentence,  translatorContainer)"><i class="material-icons">g_translate</i> <span>Translate</span></a>
				</li>
				<li>
					<a href="javascript:void(0)" (click)="openSentenceToList(sentence)"><i class="material-icons">star_border</i> <span>Add sentence to list</span></a>
				</li>
				<li>
					<a href="javascript:void(0);" (click)="onReport.next(sentence)"><i class="material-icons">thumb_down</i> <span>Report</span></a>
				</li>
				<li>
					<a href="{{sentence?.source}}" target="_blank"><i class="fa fa-link"></i> <span>Source</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- New list box form -->


<div class="cd-popup" role="alert" id="createNewSentenceList">
	<div class="cd-popup-container loginbox">
		<div class="signupbox">
			<div class="row">
				<div class="col-md-12">
					<h3 class="singupwelcometext">Create a new list:</h3>
				</div>
			</div>
			<form autocomplete="off" [formGroup]="listForm" role="form" novalidate="">
				<div class="row">
					<div class="col-md-12">
						<div class="signupformbox">
							<div class="row" *ngIf="requestStatus.isServerRequesting">
								<div class="col-md-12">
									<h5 class="text-success success-text">Processing . . . <i class="fa fa-refresh fa-spin"></i></h5>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row" *ngIf="requestStatus.isSuccess">
								<div class="col-md-12">
									<h5 class="text-success success-text">List created successfully.</h5>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row" *ngIf="requestStatus.isError">
								<div class="col-md-12">
									<h5 class="text-danger success-text">You already have a list called "{{list?.name}}".</h5>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group label-floating is-empty" [ngClass]="{'has-error': listForm.controls.listName.dirty && !listForm.controls.listName.valid}">
										<label class="control-label" for="listname">List name</label>
										<input id="listname" type="text" formControlName="listName" class="form-control"
										/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group label-floating is-empty">
										<label class="control-label" for="listdescription">List description (optional)</label>
										<input id="listdescription" type="text" formControlName="listDescription" placeholder=""
											class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="modal-btn-bx">
							<button class="btn-yellow pull-Left" (click)="closeNewModal();">Cancel</button>
							<button type="button" [disabled]="!listForm.valid" (click)="addNewList();" class="btn-yellow pull-right">Save</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- .signupbox end -->
	</div>
</div>
<!-- Modal form -->

<div id="senetenceModalList" class="modal fade in">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" (click)="closeModal()">X</span>
			<h2>Add this sentence to a list:</h2>
		</div>
		<div class="modal-body">
			<div class="row" *ngIf="requestStatus.isServerRequesting">
				<div class="col-md-12">
					<h5 class=" success-text text-primary">Processing . . . <i class="fa fa-refresh fa-spin"></i></h5>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="row" *ngIf="requestStatus.isSuccess">
				<div class="col-md-12">
					<h5 class="success-text text-success">You have added the sentence "{{sentenceListModalData?.text}}" to this list.
					</h5>
					<!--{{list.name}}.-->
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="row" *ngIf="errorMsg">
				<div class="col-md-12">
					<h5 class="success-text text-danger ">{{errorMsg}}</h5>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="popwordslist">
				<ul *ngFor=" let list of sentenceLists">
					<li>
						<a href="javascript:void(0)" (click)="addSentenceToList(list)">
							<span class="flag-icon flag-icon-{{list.countryCode}}"></span>&nbsp; {{list.name}}
							<i *ngIf="list.isSuccess" class="fa fa-check text-success"></i></a>
					</li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);" (click)="openCreateNewList()">+ Create a new list</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>