<div role="tabpanel" class="tab-pane active" id="general">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="acc_profile_img">
      <img src="{{userData?.avatarUrlSmall}}">
    </div>
    <!-- .acc_profile_img end -->
    <div class="text-center">
      <!--<a href="#">Change photo</a>	-->
    </div>
  </div>
  <!-- .col-3 end -->
  <div class="col-md-offset-1 col-md-6 col-sm-7 col-xs-12 no-pad" *ngIf="requestStatus.isServerRequesting" style="padding-bottom:10px;">
    <div class="col-md-12 text-danger">
      Processing... <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-6 col-sm-7 col-xs-12 no-pad">
    <form [formGroup]="generalFrom" (ngSubmit)="saveGeneralData();">
      <div class="form-group">
        <label>User name</label>
        <input type="text" class="form-control" formControlName="userName">
        <control-messages [control]="generalFrom.controls.userName"></control-messages>
      </div>
      <!--form-group-->
      <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" formControlName="location">
        <control-messages [control]="generalFrom.controls.location"></control-messages>
      </div>
      <!--form-group-->
      <div class="form-group">
        <label>Native language</label>
        <input type="text" class="form-control" formControlName="nativeLanguage">
        <control-messages [control]="generalFrom.controls.nativeLanguage"></control-messages>
      </div>
      <!--form-group-->
      <div class="form-group">
        <label>Date of birth</label>
        <input type="date" class="form-control" formControlName="dob">
        <control-messages [control]="generalFrom.controls.dob"></control-messages>
      </div>
      <!--form-group-->
      <!--<a href="#" class="btn btn-soc btn-block"><i class="fa fa-facebook"></i> Connect with Facebook</a>
 					<a href="#" class="btn btn-soc btn-block"><i class="fa fa-google-plus"></i> Connect with Google +</a>-->
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!generalFrom.valid || requestStatus.isServerRequesting">Save</button>
      </div>
    </form>
  </div>
  <!-- .col-9 end -->
</div>
<!--general-->