<div class="container word course">
    <div class="row course-detail">
        <div class="course-img col-md-4 col-sm-4 col-xs-12 pull-left">
            <img src="images/course-img-big.png">
        </div><!-- courser-img end -->

        <div class="course-content col-md-8 col-sm-8 col-xs-12 pull-right">

            <!--<div class="course-img col-xs-4 pull-left visible-xs hidden-sm hidden-md hidden-lg ">
              <img src="images/course-img-big.png">
            </div> courser-img end -->

            <div class="row col-xs-12 col-sm-12 col-md-12 pull-right">
                <div class="col-md-6 col-sm-7 col-xs-12 pull-left">
                    <h1 class="course-title">
                        Accelerated Spanish<br><small>Spanish</small>
                    </h1>
                </div><!-- .col end -->
                <div class="col-md-6 col-sm-5 col-xs-12 pull-right">
                    <h3 class="course-level">Low-beginner level</h3>
                </div><!-- .col end -->
            </div><!-- .row end -->

            <div class="row">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation load trip consectetur adipiscing elit.</li>

                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                    </li>
                </ul>
            </div><!-- .row end -->
        </div><!-- .course-content end -->
    </div><!-- .course-detail end -->

    <div class="container">
        <div class="row course-prog">
            <div class="col-sm-4">
                <div class="tile text-center">
                    <div id="chart1" class="ct-chart ct-perfect-fourth"></div>
                    <label><span>87</span>/500</label>
                    <h1>Accelerated Spanish words</h1>
                </div><!--tile-->
            </div><!--col-4-->
            <div class="col-sm-4">
                <div class="tile text-center">
                    <div id="chart2" class="ct-chart ct-perfect-fourth"></div>
                    <label><span>380</span>/1000</label>
                    <h1>Beginner-level words</h1>
                </div><!--tile-->
            </div><!--col-4-->
            <div class="col-sm-4">
                <div class="tile text-center">
                    <h1>Wordsmastered:</h1><br>
                    <img src="images/zero.png"><img src="images/seven.png"><img src="images/five.png"><img src="images/two.png">
                    <h1><img src="images/spanish-book-icon.png"> Spanish words</h1>
                </div><!--tile-->
            </div><!--col-4-->
        </div><!--row-->
    </div><!--container-->


    <div class="row course-btn-wrap">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a href="javascript:void(0);" (click)="onContinue(courseCode);" class="course-btn course-btn-lg">Continue Learning</a>
        </div><!-- .col end -->
    </div><!-- .row end -->
</div><!--container-->