<div class="row footer hidden-xs visible-md visible-lg visible-sm">
    <div class="container">
        <div class="col-md-8 col-sm-8 pull-left">
            <div class='foot-link'>
                <ul>
                    <li><a [routerLink]="['about']">About</a></li>
                    <li><a href="mailto:admin@wordbrewery.com">Contact us</a></li>
                    <li><a href="/blog" target="_blank">Blog</a></li>
                    <li><a href="https://docs.google.com/forms/d/1VLYcHdI5-FLlr5hMRJ1DzhLKDUzfkPvyI8Bx3bvvk3w/viewform" target="_blank">Survey</a></li>
                    <li><a href="https://squareup.com/store/wordbrewery2" target="_blank">Donate</a></li> 
                    <li><a href="http://wordbrewery.us12.list-manage.com/subscribe?u=de5def825a669f96078a614d4&amp;id=ccf98da72c" target="_blank">Get Updates</a></li>
                    <li><a [routerLink]="['/TermsConditions']" target="_blank">Legal</a></li>
                    <li *ngIf="isAdmin" class="version-text"><h5>version: {{appVersion}}</h5></li>
                </ul>
            </div>
            <!-- .foot-link end -->
        </div>
        <!-- .col end -->
        <div class="col-md-4 col-sm-4 col-xs-12  pull-right">
            <div class="foot-social text-right">
                <ul>
                    <li><a href="https://facebook.com/wordbrewery/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="https://twitter.com/WordBrewery/" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="https://wordbrewery.tumblr.com/" target="_blank"><span class="fa fa-tumblr"></span></a></li>
                </ul>
            </div>
            <!-- .foot-link end -->
        </div>
        <!-- .col end -->
    </div>
    <!-- .container end -->
</div>
<!-- .row end -->
<div class="row footer visible-xs hidden-md hidden-lg hidden-sm">
    <div class="container">
        <div class="col-xs-12  pull-right">
            <div class="foot-social text-right">
                <ul>
                    <li><a href="https://facebook.com/wordbrewery/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="https://twitter.com/WordBrewery/" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="https://wordbrewery.tumblr.com/" target="_blank"><span class="fa fa-tumblr"></span></a></li>
                </ul>
            </div>
            <!-- .foot-link end -->
        </div>
        <!-- .col end -->
        <div class="col-xs-12 pull-left">
            <div class='foot-link'>
                <ul>
                    <li><a [routerLink]="['about']">About</a></li>
                    <li><a href="mailto:admin@wordbrewery.com">Contact us</a></li>
                    <li><a href="/blog" target="_blank">Blog</a></li>
                    <li><a href="https://docs.google.com/forms/d/1VLYcHdI5-FLlr5hMRJ1DzhLKDUzfkPvyI8Bx3bvvk3w/viewform" target="_blank">Survey</a></li>
                    <li><a href="https://squareup.com/store/wordbrewery2" target="_blank">Donate</a></li>
                    <li><a href="http://wordbrewery.us12.list-manage.com/subscribe?u=de5def825a669f96078a614d4&amp;id=ccf98da72c" target="_blank">Get Updates</a></li>
                    <li><a [routerLink]="['/terms']" target="_blank">Legal</a></li>
                    <li *ngIf="isAdmin" class="version-text"><h5>version: {{appVersion}}</h5></li>
                </ul>
            </div>
            <!-- .foot-link end -->
        </div>
        <!-- .col end -->
    </div>
    <!-- .container end -->
</div>
<a href="#0" class="cd-top">Top</a>