<!-- 
  TODO: This should have generic template which should work for all pages where
  it will be placed.
-->
<!-- Explore Mode Template -->
<div *ngIf="mode == 1">
	<div class="row">
		<div class="col-md-12">
			<div class="boxcontent">
				<h3 id="wordinfotxt" *ngIf="!clickedWord">Click on any word in the sentence to see its meaning.</h3>
				<div class="box_content_title" *ngIf="clickedWord">
					<p class="clickedWord">{{clickedWord.lemma ? clickedWord.lemma : clickedWord.text}}</p>
					<p *ngIf="clickedWord?.translation" class="noun">{{clickedWord?.translation}}</p>
					<!--<p *ngIf="relatedWords?.token && settings.currentLanguage.languageId !=='English'" class="noun"><a href="javascript:void(0);">{{relatedWords?.token}}</a></p>-->
					<p *ngIf="relatedWords?.pinyin" class="noun">{{relatedWords?.pinyin}}</p>

				</div>
				<h3 *ngIf="clickedWord && relatedWordRequest.isServerRequesting">
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
					</div>
				</h3>
				<!-- Definition -->
				<ol class="box_content_text" *ngIf="relatedWords?.glosses.length > 0" style="padding-top:10px;">
					<template ngFor let-gloss [ngForOf]="relatedWords.glosses" let-idx="index">
						<li *ngIf="idx < 3" [ngClass]="{'no-style': relatedWords?.glosses.length == 1}">
							<p class="gloss_text">{{gloss}}</p>
						</li>
					</template>
				</ol>
				<!-- end of Definition -->
				<h3 *ngIf="clickedWord" style="padding:1px;">
					<p style="text-align:left;" class="col-md-5 col-xs-5"><a href="https://www.google.com/search?q={{clickedWord?.text}}&ie=UTF-8" target="_blank">Google</a></p>
					<p style="text-align:right;" class="col-md-7 col-xs-7"><a href="https://{{settings?.currentLanguage?.languageCode}}.wiktionary.org/wiki/{{clickedWord?.text}}"
							target="_blank">Wiktionary</a></p>
				</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="boxfooter">
				<ul [class.disabled]="!clickedWord">
					<li>
						<a href="javascript:void(0);" (click)="speak(clickedWord?.text)"><i class="material-icons">volume_up</i> <span>Audio</span></a>
					</li>
					<li>
						<a href="javascript:void(0);" (click)="openWordToList(clickedWord);"><i class="material-icons">star_border</i><span> Add word to list</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Course Mode Template -->

<div *ngIf="mode == 2">
	<div class="clearfix">
	</div>
	<p class="clickedWord">{{clickedWord?.lemma || clickedWord?.text}}</p>
	<p *ngIf="clickedWord?.translation" class="noun">
		{{clickedWordword?.translation}}</p>
	<p *ngIf="relatedWords?.pinyin" class="noun">{{relatedWords?.pinyin}}</p>
	<!-- Definition -->
	<ol class="box_content_text" *ngIf="relatedWords?.glosses.length > 0" style="padding-top:10px;">
		<template ngFor let-gloss [ngForOf]="relatedWords.glosses" let-idx="index">
			<li *ngIf="idx < 3" [ngClass]="{'no-style': relatedWords?.glosses.length == 1}">
				<p class="gloss_text">{{gloss}}</p>
			</li>
		</template>
	</ol>
	<!-- end of Definition -->
	<!--chev-->
	<div class="row">
		<div class="col-sm-5 col-xs-6">
			<a href="https://www.google.com/search?q={{clickedWord?.text}}&ie=UTF-8" target="_blank">Google</a>
		</div>
		<!--col-5-->
		<div class="col-sm-offset-2 col-xs-6 col-sm-5">
			<a href="https://{{settings?.currentLanguage?.languageCode}}.wiktionary.org/wiki/{{clickedWord?.text}}"
				target="_blank">Wiktionary</a>
		</div>
		<!--col-5-->
	</div>
	<!--row-->
	<br/>
	<br/>
	<hr>
	<div class="row">
		<div class="boxfooter">
			<ul class="coursewordinfobox" [class.disabled]="!clickedWord">
				<li>
					<a href="javascript:void(0);" (click)="speak(clickedWord)"><i class="material-icons">volume_up</i> <span>Audio</span></a>
				</li>
				<li>
					<a href="javascript:void(0);" (click)="openWordToList(clickedWord);"><i class="material-icons">star_border</i><span> Add word to list</span></a>
				</li>
			</ul>
		</div>
	</div>
	<!--row-->
</div>

<div class="cd-popup" role="alert" id="createNewWordList">
	<div class="cd-popup-container loginbox">
		<div class="signupbox">
			<div class="row">
				<div class="col-md-12">
					<h3 class="singupwelcometext">Create a new list:</h3>
				</div>
			</div>
			<form autocomplete="off" [formGroup]="listForm" role="form" novalidate="">
				<div class="row">
					<div class="col-md-12">
						<div class="signupformbox">
							<div class="row" *ngIf="requestStatus.isServerRequesting">
								<div class="col-md-12">
									<h5 class="success-text text-primary ">Processing . . . <i class="fa fa-refresh fa-spin"></i></h5>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row" *ngIf="requestStatus.isSuccess">
								<div class="col-md-12">
									<h5 class="success-text text-success ">List created successfully.</h5>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row" *ngIf="errorMsg">
								<div class="col-md-12">
									<h5 class="success-text text-danger">{{errorMsg}}</h5>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group label-floating is-empty" [ngClass]="{'has-error': listForm.controls.listName.dirty && !listForm.controls.listName.valid}">
										<label class="control-label" for="listname">List name</label>
										<input id="listname" type="text" formControlName="listName" class="form-control"
										/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group label-floating is-empty">
										<label class="control-label" for="listdescription">List description (optional)</label>
										<input id="listdescription" type="text" formControlName="listDescription" placeholder=""
											class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="modal-btn-bx">
							<button class="btn-yellow pull-Left" (click)="closeNewModal();">Cancel</button>
							<button type="button" [disabled]="!listForm.valid" (click)="addNewList();" class="btn-yellow pull-right">Save</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- .signupbox end -->
	</div>
</div>


<div id="sentenceModalWordList" class="modal fade in">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" (click)="closeModal()">X</span>
			<label>Add the word "<a style="font-weight: bold;text-decoration:none;">{{clickedWord?.lemma || clickedWord?.text }}</a>"
            to a list:</label>
		</div>
		<div class="modal-body">
			<div class="row" *ngIf="requestStatus.isServerRequesting">
				<div class="col-md-12">
					<h5 class="text-primary" style="text-align:center" success-text>Processing . . . <i class="fa fa-refresh fa-spin"></i></h5>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="row" *ngIf="requestStatus.isSuccess">
				<div class="col-md-12">
					<h5 class=" success-text text-success">You have added the word "{{wordListModalData?.lemma || wordListModalData?.text}}"
						to this list.</h5>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="row" *ngIf="errorMsg">
				<div class="col-md-12">
					<h5 class="success-text text-danger ">{{errorMsg}}</h5>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="popwordslist">
				<ul *ngFor=" let list of wordLists">
					<li (click)="addWordToList(list);"><span class="flag-icon flag-icon-{{list.countryCode}}"></span>&nbsp;
						<a href="javascript:void(0);">{{list.name}}</a> <i *ngIf="list.isSuccess" class="fa fa-check text-success"></i></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);" (click)="openCreateNewWordList()">+ Create a new list</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>