<div class="container fm cht ">
  <div class="row pad40" *ngIf="requestStatus.isServerRequesting">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!requestStatus.isServerRequesting">
    <div class="col-md-offset-2 col-md-8 col-xs-12">
      <div class="path">
        <a [routerLink]="['/list']">{{listType == 1 ? 'Word Lists' : 'Sentence Lists'}}</a>        > {{list?.name}}
      </div>
      <!--path-->
      <div class="tile">
        <div class="t-head" style="border-bottom:1px solid #ddd">
          <div class="row">
            <div class="col-sm-6">
              <h1>{{list?.name}}</h1>
            </div>
            <!--col-6-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-offset-2 col-xs-4 col-sm-4 hidden-xs text-right">
                  <a href="javascript:void(0);" (click)="exportToCSV();"><i class="fa fa-download fa-fw"></i>&nbsp; Export</a>
                </div>
                <!--col-4-->
                <div class="col-xs-4 col-sm-4 text-right">
                  <a href="#" data-toggle="modal" data-target="#fmModal"><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit</a>
                </div>
                <!--col-4-->
                <!--<div class="col-xs-4 col-sm-3 text-right">
                                    <a href="#">Date&nbsp;<i class="fa fa-chevron-down fa-fw"></i></a>
                                </div>-->
                <!--col-4-->
              </div>
              <!--row-->
            </div>
            <!--col-6-->
          </div>
          <!--row-->
        </div>
        <!--t-head-->

        <!-- Modal -->
        <div class="modal fade" id="fmModal" tabindex="-1" role="dialog" aria-labelledby="fmModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body" style="padding:45px 30px 15px 30px!important">
                <form [formGroup]="listForm" novalidate>
                  <div class="form-group" *ngIf="listErrMsg">
                    <label class="text-danger"> {{listErrMsg}}</label>
                  </div>
                  <div class="form-group label-floating ">
                    <label class="control-label" for="lName">List name</label>
                    <input class="form-control" [ngClass]="{'has-error': listForm.controls.listName.dirty && !listForm.controls.listName.valid}"
                      formControlName="listName" id="lName" type="text">
                  </div>
                  <div class="form-group label-floating">
                    <label class="control-label" for="listDesc">List description</label>
                    <input class="form-control" [ngClass]="{'has-error': listForm.controls.listDescription.dirty && !listForm.controls.listDescription.valid}"
                      formControlName="listDescription" id="listDesc" type="text">
                  </div>
                  <!--<a href="#">Date &nbsp;<i class="fa fa-chevron-down"></i></a>-->
                  <div class="row" *ngFor="let data of learnedList">
                    <div class="col-sm-1 pull-left">
                      <a href="javascript:void(0);" (click)="removeEntry(data.id)">
                        <i class="fa fa-times fa-lg fa-fw"></i>
                      </a>
                    </div>
                    <!--col-1-->
                    <div class="col-sm-11">
                      <label>{{data.text}}</label>
                    </div>
                    <!--col-11-->
                  </div>
                  <!--row-->
                  <div class="row" *ngFor="let data of progressList">
                    <div class="col-sm-1 pull-left">
                      <a href="javascript:void(0);" (click)="removeEntry(data.id)">
                        <i class="fa fa-times fa-lg fa-fw"></i>
                      </a>
                    </div>
                    <!--col-1-->
                    <div class="col-sm-11">
                      <label>{{data.text}}</label>
                    </div>
                    <!--col-11-->
                  </div>
                  <!--row-->
                </form>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-sm-6 pull-left">
                    <a href="#" data-toggle="modal" data-target="#smModal">Delete List</a>
                  </div>
                  <!--col-6-->
                  <div class="col-sm-6 pull-right text-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <button type="button" [disabled]="!listForm.valid" (click)="updateList();" class="btn btn-primary">Save</button>
                  </div>
                  <!--col-6-->
                </div>
                <!--row-->
              </div>
            </div>
          </div>
        </div>
        
        <!--modal-->
        <div class="modal fade" id="smModal" tabindex="-1" role="dialog" aria-labelledby="fmModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                Are you sure you want to delete this list?
              </div>
              <div class="modal-body text-center">
                <label>This action cannot be undone.</label>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-xs-6 col-sm-6">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>
                  <!--col-6-->
                  <div class="col-xs-6 col-sm-6 text-right">
                    <button type="button" class="btn btn-danger" (click)="removeList();">Delete List</button>
                  </div>
                  <!--col-6-->
                </div>
                <!--row-->
              </div>
            </div>
          </div>
        </div>
        <!--modal-->

        <div class="tab">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#pro" aria-controls="pro" role="tab" data-toggle="tab">In Progress</a></li>
            <li role="presentation"><a href="#lea" aria-controls="lea" role="tab" data-toggle="tab">Learned</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pro">
              <div class="row" *ngFor="let data of progressList" style="padding:0px 17px 0px 17px">
                <div class="col-lg-12 col-md-12 col-xs-12" style="border-bottom:1px solid #ddd;padding:0 5px 0 5px">

                  <div class="col-md-10 col-xs-12" style="position: initial!important;">
                    <p class="listdetailcontents"><a class="listprogresstxt" (click)="showDefinitions(data, $event);"
                        (mouseover)="onMouseOver(data, $event);" (mouseout)="onMouseOut()"
                        href="javascript:void(0);">{{data.text}}</a></p>
                  </div>
                  <!--col-1-->
                  <div class="col-md-1 col-xs-6 ">
                    <p class="listdetailcontentsicons">
                      <a href="javascript:void(0);" (click)="speak(data.text);" class="fa fa-volume-up"></a>
                    </p>
                  </div>
                  <!--col-1-->
                  <div class="col-md-1 col-xs-6 ">
                    <p class="listdetailcontentsicons">
                      <a href="javascript:void(0);" (click)="markAsLearnedAndUnlearned(data, true);"
                        (mouseover)="onMouseOvernew('Mark&nbspas&nbsplearned', $event);"
                        (mouseout)="onMouseOut()" class="fa fa-plus"></a>
                    </p>
                  </div>
                  <!--col-1-->
                </div>
              </div>
              <div class="row" *ngIf="!requestStatus.isServerRequesting && progressList.length == 0">
                <div class="col-sm-10">
                  <label>This list is empty.</label>
                </div>
              </div>
            </div>
            <!--tab-panel-->
            <div role="tabpanel" class="tab-pane" id="lea">
              <div class="row" *ngFor="let data of learnedList" style="padding:0px 17px 0px 17px">
                <div class="col-lg-12 col-md-12 col-xs-12" style="border-bottom:1px solid #ddd;padding:0 5px 0 5px">
                  <div class="col-md-10 col-xs-12" style="position: initial!important;">
                    <p class="listdetailcontents"><a class="listprogresstxt" (click)="showDefinitions(data, $event);"
                        (mouseover)="onMouseOver(data, $event);" (mouseout)="onMouseOut()"
                        href="javascript:void(0);">{{data.text}}</a></p>
                  </div>
                  <!--col-1-->
                  <div class="col-md-1 col-xs-6 ">
                    <p class="listdetailcontentsicons">
                      <a href="javascript:void(0);" class="fa fa-volume-up" (click)="speak(data.text);"></a>
                    </p>
                  </div>
                  <!--col-1-->
                  <div class="col-md-1 col-xs-6 ">
                    <p class="listdetailcontentsicons">
                      <a href="javascript:void(0);" (click)="markAsLearnedAndUnlearned(data, false);"
                        class="fa fa-reply" (mouseover)="onMouseOvernew('Mark&nbspas&nbspInprogress', $event);"
                        (mouseout)="onMouseOut()"></a>
                    </p>
                  </div>
                  <!--col-1-->
                </div>
              </div>
              <!--row-->
              <div class="row" *ngIf="!requestStatus.isServerRequesting && learnedList.length == 0">
                <div class="col-sm-10">
                  <label>This list is empty.</label>
                </div>
              </div>

            </div>
            <!--tab-panel-->
          </div>
          <!--tab-content-->
        </div>
        <!--tab-->
      </div>
      <!--tile-->
    </div>
    <!--col-10-->
  </div>
  <!--row-->
</div>
<!--container-->
<wb-footer-new *ngIf="!requestStatus.isServerRequesting"></wb-footer-new>