.counter-wrapper {
  float: right;
  position: relative;
  left: -50%;
  margin-top: 20px;
}

.flip-counter {
  position: relative;
  left: 50%;
  list-style-type: none;
}

.flip-counter li {
  float: right;
}

.no-csstransforms3d span.back {
  display: none;
}

.flip-counter.default .digit {
  position: relative;
  z-index: 0;
  width: 60px;
  height: 90px;
  margin-left: 10px;
  background-color: #FAFAFA;
  text-align: center;
  line-height: 0;
  -webkit-text-stroke: 2px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.flip-counter.default .digit span {
  position: absolute;
  left: 0;
  height: 45px;
  width: 60px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 90px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-indent: 2px;
  background-color:#FAFAFA;
  color:#E2DED5;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.flip-counter.default .digit span.front {
  top: 0;
  padding-top: 45px;
}

.flip-counter.default .digit span.back {
  bottom: 0;
}

.flip-counter.default .digit .line {
  position: absolute;
  z-index: 10;
  height: 45px;
  width: 60px;
  border-bottom: 1px solid #FAFAFA;
  -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7);
}
