@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j4pzrp');
  src:  url('fonts/icomoon.eot?j4pzrp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j4pzrp') format('truetype'),
    url('fonts/icomoon.woff?j4pzrp') format('woff'),
    url('fonts/icomoon.svg?j4pzrp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-accessibility:before {
  content: "\e9b2";
}

