<div class="loginbox">
  <div class="row">
    <div class="col-md-12">
      <form autocomplete="off">
        <div class="signupbox" *ngIf="email">
          <div class="row">
            <div class="col-md-12">
              <h3 class="success-head">Your account has been created.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5 class="success-text">To activate it, please follow the instructions in the email we’ve sent to {{email}}.</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="loginsignupbuttongbox forgot-btn-box">
                <button [routerLink]="['/account', 'login']" type="button" class="btn ok-btn">Ok</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="forgotpasslink">
                <p class="text-center">Didn't receive it? Check your spam folder or <a href="javascript:void(0)" (click)="sendConfirmation();">send it again</a>.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- .signup-box end -->
      </form>
    </div>
  </div>
</div>
