<div class="signupbox">
  <div class="row">
    <div class="col-md-12">
      <h3 class="singupwelcometext">Welcome back</h3>
    </div>
  </div>
  <form autocomplete="off" [formGroup]="loginForm" novalidate (ngSubmit)="login();">
    <div class="row">
      <div class="col-md-12">
        <div class="signupformbox">
          <div class="row" *ngIf="isLoading" style="padding-bottom:10px;">
            <div class="col-md-12 text-danger">
              Logging in...   <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
        
          <div class="row" *ngIf="errorMessage" style="padding-bottom:10px;">
            <div class="col-md-12">
              <span class="text-danger">{{errorMessage}}</span>
            </div>
          </div>
          <control-messages [control]="loginForm.controls.userEmail"></control-messages>
          <control-messages [control]="loginForm.controls.userPassword"></control-messages>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group label-floating" [ngClass]="{'has-error': loginForm.controls.userEmail.dirty && !loginForm.controls.userEmail.valid}">
                <label class="control-label" for="email">Email </label>
                <input id="email" type="email"  formControlName="userEmail" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="passbox">
                <show-hide-container>
                  <div class="form-group label-floating" [ngClass]="{'has-error': loginForm.controls.userPassword.dirty && !loginForm.controls.userPassword.valid}">
                    <label class="control-label" for="password">Password</label>
                    <input id="password" type="password" show-hide-input autocomplete="off" formControlName="userPassword" class="form-control">
                  </div>
                </show-hide-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="loginsignupbuttongbox">
          <button class="btn btn-block wb-btn" type="submit" [disabled]="!loginForm.valid || isLoading">Log in</button>
        </div>
      </div>
    </div>
  </form>
   <div class="row">
    <div class="col-md-12">
      <div class="orclause">
        <p class="text-center">or use</p>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-12">
      <div class="socialbox">
        <div class="row">
          <wb-facebook (onLogin)="onFacebookLogin($event);"></wb-facebook>
           <wb-google (onLogin)="onGoogleLogin($event);"></wb-google>
        </div>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12">
      <div class="forgotpasslink">
        <p class="text-center wb-color"><a [routerLink]="['/account', 'forgot']">Forgot password?</a></p>
      </div>
    </div>
  </div>
</div>