<div class="container qz">
	<div class="row">
		<span class="qz-progress-bar" style="height: 8px;">
			<progressbar id="courseprogresbarnew" [value]="progressVal"  ></progressbar>				
		</span>
		<!-- .qz-progress-bar end -->
		<div class="col-sm-12">
			<div class="clearfix"></div>
			<label *ngIf="!inCorrectAnswer">Select the missing word:</label>
			<label *ngIf="inCorrectAnswer" class="text-danger">Sorry, Please try again.</label>
			<h1 class="quizesentence">
				<span *ngIf="currentSentence.length > 0">
                          <a *ngFor="let word of currentSentence"                          
                          ><!--
                          --><span [class.highlightedword]="word.isHighlighted">{{word.text}}</span>
				<span *ngIf="word.isSpaceAfter">&nbsp;</span>
				</a>
				</span>
			</h1>
			<div class="row">
				<div class="col-xs-6 col-sm-5">
					<button (click)="checkAnswer(option1)"  class="btn btn-info {{Options[0]?.class}} {{ Options[0].disbaleclass  }} pull-right">{{option1}}</button>
					<button (click)="checkAnswer(option2)"  class="btn btn-info {{Options[1]?.class}} {{ Options[1].disbaleclass  }}  pull-right">{{option2}}</button>
				</div>
				<!--col-5-->
				<div class="col-sm-offset-2 col-xs-6 col-sm-5">
					<button (click)="checkAnswer(option3)" class="btn btn-info {{Options[2]?.class}} {{ Options[2].disbaleclass  }} ">{{option3}}</button>
					<button (click)="checkAnswer(option4)" class="btn btn-info {{Options[3]?.class}} {{ Options[3].disbaleclass  }} ">{{option4}}</button>
				</div>
				<!--col-5-->
			</div>
			<!--row-->
		</div>
		<!--col-12-->
		<br><br><br>
	</div>
	<!--row-->
</div>

<div class="row course-btn-wrap">
	<div class="col-md-12  col-xs-12 pull-right text-center">
		<!--<a href="javascript:void(0);" class="bk" [hidden]="!skip"  (click)="getNextQestion()">Skip</a>-->
		<a href="javascript:void(0);" [ngClass]="{disabled: !canContinue}"  class="course-btn course-btn-lg"  (click)="getNextQestion()">Continue</a>
	</div>
</div>