<div class="container word course" *ngIf="courseCode">
  <div class="row" *ngIf="requestStatus.isServerRequesting">
    <div class="col-md-12">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
      </div>
    </div>
  </div>
  <div class="row course-detail" *ngIf="!requestStatus.isServerRequesting">
    <div class="course-img col-md-4 col-sm-4 col-xs-12 pull-left">
      <img src="images/course-img-big.png">
    </div>
    <!-- courser-img end -->

    <div class="course-content col-md-8 col-sm-8 col-xs-12 pull-right">

      <!--<div class="course-img col-xs-4 pull-left visible-xs hidden-sm hidden-md hidden-lg ">
              <img src="images/course-img-big.png">
            </div> courser-img end -->

      <div class="row col-xs-12 col-sm-12 col-md-12 pull-right">
        <div class="col-md-6 col-sm-7 col-xs-12 pull-left">
          <h1 class="course-title">
            <small>{{CourseData?.languageId}}</small>
          </h1>
        </div>
        <!-- .col end -->
        <div class="col-md-6 col-sm-5 col-xs-12 pull-right">
          <h3 class="course-level">{{CourseData?.name}}</h3>
        </div>
        <!-- .col end -->
      </div>
      <!-- .row end -->

      <div class="row"> fyty uyutu 68687 tt7t
        <ul>
          <li> {{CourseData?.description}}</li>
        </ul>
      </div>
      <!-- .row end -->
    </div>
    <!-- .course-content end -->
  </div>
  <!-- .course-detail end -->

  <div class="row course-btn-wrap" *ngIf="!requestStatus.isServerRequesting">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
      <a href="javascript:void(0);" (click)="onStart(courseCode);" class="course-btn">{{courseStatus}}</a>
    </div>
    <!-- .col end -->

  </div>
  <!-- .row end -->
</div>
<!--container-->