<div class="container " style=" margin-top:10px">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			<h3>WordBrewery Privacy Policy, Terms of Use, and Intellectual Property Notice</h3>

			<p>By visiting WordBrewery and continuing to use WordBrewery, you affirmatively consent to the WordBrewery Privacy Policy,
				Terms of Use, and Intellectual Property Notice below, including our collection of user data and cookies. We take your
				privacy and data security seriously and collect no sensitive data except the email address you provide if you choose
				to register. We believe all of the policies below are unobjectionable and well within the norm for contemporary websites.
				Please <a href="mailto:admin@wordbrewery.com">contact us</a> if you have any questions or concerns.</p>

			<b>1. Cookies, privacy, and user data</b>
			<p>Like virtually all websites, WordBrewery collects some data about its users to provide the best experience possible. We
				store no sensitive individual data except the email address you use to register and log in and the information we collect
				from Facebook or Google if you choose to log in through those services. We anonymize data whenever possible and collect
				only the data we need to provide our services and monitor how Wordbrewery is being used. Most WordBrewery services cannot
				work without gathering some data from the user. By using WordBrewery, you consent to our use of cookies and related mechanisms
				as needed to provide WordBrewery services and monitor how WordBrewery is used.</p>

			<p>We also, like most websites, use some third-party services to help us gather important data about how WordBrewery is used,
				provide functionality such as social login through Facebook and Google, and evaluate whether particular features or marketing
				campaigns are attracting users' interest. These third-party services, including but not limited to Facebook Ads and Google
				Analytics and AdWords, may use cookies, web beacons, and other storage technologies to collect or receive information
				and use that information to provide measurement services and target ads.</p>

			<b>2. Privacy opt-out information</b>
			<p>Users can use ad blocking software and browser settings to opt-out of third-parties' collection and use of information
				for ad targeting. Please visit http://www.aboutads.info/choices and http://www.youronlinechoices.eu/ for more information,
				and always check the privacy and content settings of your device and browser.</p>

			<b>3. European Union notice</b>
			<p>The European Union (EU) imposes heightened requirements for the collection and use of user data through cookies and other
				mechanisms. Accordingly, while WordBrewery welcomes users within the EU, WordBrewery is not directed at such users. Users
				within the EU who use WordBrewery consent to WordBrewery's use of browser cookies and other data-collection mechanisms
				and agree to waive all privacy regulations arising under EU law. The use of WordBrewery in accordance with this document
				is governed solely by the laws of the United States and the State of Delaware.</p>

			<b>4. Age requirements and guidance</b>
			<p>Various laws apply heightened privacy requirements to websites directed at children under 13; these laws do not apply
				to WordBrewery. WordBrewery is intended only for users over the age of 13, and children under the age of 13 may not register
				for the app and may only use the website when accompanied and supervised by a parent or guardian.</p>

			<p>WordBrewery always targets its marketing campaigns to users who are 18 or older. Parents should be aware that we do not
				manually choose or monitor the content of the sentences we use on our website and app, and these sentences may contain
				adult content or themes. Please use the thumbs-down icon to report any such sentences you encounter so we can remove
				them from our database.</p>

			<b>5. Unauthorized or automated access and uses</b>
			<p>Any express or implied license to use WordBrewery's software, content, or other intellectual property is strictly limited
				to WordBrewery's intended use as a language-learning tool for end-users; any other use requires our express written permission.
				The term "end-users" refers exclusively to private individuals as well as teachers and students working in noncommercial
				educational settings such as a language classroom or a free public online course. For all other uses, including use in
				for-profit educational settings, corporate training, language-training institutions, and government agencies, please
				<a href="mailto:admin@wordbrewery.com">contact us</a> to discuss pricing and terms.</p>

			<p>WordBrewery's software, content, and other intellectual property may not be accessed, reverse-engineered, replicated,
				sold, distributed, used in other applications, or otherwise used for any purpose besides their intended use as end-user
				language learning tools without our express written permission.</p>

			<p>Users may not access or collect data from WordBrewery through any automated mechanism such as a robot or spider. We may
				restrict web traffic from IP addresses that make excessive or unusual demands on our APIs and servers.</p>

			<b>6. Copyright in sentences collected from third-party websites</b>
			<p>WordBrewery's core innovation is to collect authentic sentences from texts on news sites and other sources, then process
				and curate these sentences to repurpose them as language-learning tools. We do so in a respectful, cautious way that
				cannot forseeably harm the authors or publishers who wrote the texts from which these sentences are excerpted. Our automated
				web scraping tools periodically send nonintrusive requests to the source servers. We provide web traffic and credit to
				the original article by linking to it whenever it appears in WordBrewery's Explore Mode. We do not collect the entire
				source text or even a substantial excerpt from the source text: we collect only discrete sentences that make up a small
				fraction of the original work. We choose these sentences not according to their informational value or newsworthiness,
				but rather according to our alogrithm's estimate of the sentence's usefulness to language learners at different levels.
				And we use the sentences for a different purpose than the original work: not to convey information or serve as a substitute
				for the original work, but rather to help our users develop reading fluency in their target language. The sentences we
				collect cannot substitute for the original work and make no attempt to do so. All rights to the sentences themselves
				remain with their original authors and publishers, and we make no claim of right to these sentences.</p>

			<p>For all of these reasons, WordBrewery's use of sentences collected from news websites and other sources is well within
				the boundaries of fair use doctrine and is therefore protected activity under copyright law. Nevertheless, out of an
				abundance of caution and respect for the authors and websites we have used as sources, we will discontinue collecting
				sentences from a website upon receiving that website's request by email to <a href="mailto:admin@wordbrewery.com">admin@wordbrewery.com</a>.
				Please <a href="mailto:admin@wordbrewery.com">contact us</a> if you have any questions or concerns or if you would like
				us to stop collecting sentences from your website.</p>

			<b>7. Other content collected from third-party websites and APIs</b>
			<p>Unless otherwise specified, WordBrewery uses content in the public domain to provide definitions and other information
				about words and to compile our internal frequency lists; our public-domain sources include <a href="http://wiktionary.com">Wiktionary</a>,
				WordNet, JDICT, EDICT, and <a href="http://wiktionary.com">Wiktionary</a>. WordBrewery also uses some translations and
				definitions from Google Translate and Microsoft Translate; these are either paid services or free within the terms of
				a limited license.</p>

			<b>8. WordBrewery's copyrights and trademarks</b>
			<p>WordBrewery's name, tagline, trade dress, user interfaces, site and social media logos, color scheme, hops icon, Stat
				Vine, favicon, and user experiences are our intellectual property and are protected under applicable trademark and copyright
				laws. Our curation and organization of content, courses, curated word and sentence lists, software and feature design,
				algorithm, and other content and services are protected under applicable copyright, trade secret, and patent laws and
				may not be replicated, distributed, or otherwise used for any purpose without our express written permission. WordBrewery's
				sentence scraping mechanism, sentence scoring mechanism, database design, quiz features, courses, user statistics algorithms,
				spaced repetition and learning algorithms, APIs, example sentence finder, search engines, and other aspects of our software
				are likewise protected under applicable copyright, trade secret, and patent laws and may not be accessed, reverse-engineered,
				replicated, distributed, or otherwise used for any purpose besides their intended use as end-user language learning tools
				without our express written permission.</p>

			<p>Our blog posts may not be reproduced or distributed in their entirety, but may be excerpted provided that you give credit
				to WordBrewery (and, if named, the post's author) and link back to the post on the WordBrewery blog. Our other social
				media posts may be shared with attribution to WordBrewery in accordance with the norms of each social network; for example,
				we encourage you to retweet our Twitter posts or share our Facebook posts, but you must always give us credit for the
				posts and link back to our original post.</p>

			<b>9. Digital Millennium Copyright Act (DMCA) compliance</b>
			<p>Like other websites with elements of social media and a community of users, we cannot monitor each WordBrewery user's
				uploads, profiles, blog comments, or other content to ensure that they have the rights to what they are sharing. Please
				<a href="mailto:admin@wordbrewery.com">contact us</a> if you have any questions or concerns about any content you find
				on <a href="https://wordbrewery.com">WordBrewery.com</a>, our <a href="https://wordbrewery.com/blog">blog</a> , or our social
				media sites. or if you would like us to stop collecting sentences from your website. The Site Administrator who monitors
				the <a href="mailto:admin@wordbrewery.com">admin@wordbrewery.com</a> email address serves as our designated agent under
				the DMCA to receive notices of claimed infringement.</p>

			<b>10. Indemnification</b>
			<p>You agree to indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including
				reasonable legal fees and costs) related to any claim against us related to your use of WordBrewery. WordBrewery's free
				services are provided without a warranty of any kind, not even the warranty of merchantilbity or implied fitness for
				any purpose. WordBrewery's paid services and products are likewise provided "as is" without a warranty of any kind, except
				as provided in the refund policy below.</p>

			<b>11. Refund policy</b>
			<p>WordBrewery's paid products and subscription-based services are provided without a warranty of any kind. However, we will
				accept product returns within 30 days of purchase; refund in full any subscription purchase within the first 14 days
				after the subscription begins; and refund any subscription renewal purchase in full if the subscription is canceled and
				we received your request within 5 days of the purchase. Otherwise, a subscriber who has paid ahead for a subscription
				may cancel their subscription at any time for a 50% prorated refund up to a maximum of 50% of the subscription price.</p>

			<b>12. No enforceable rights; legal costs and attorney's fees; right to restrict</b>
			<p>This document states the policies of WordBrewery and the scope of WordBrewery's license to end-users; it does not grant
				users any enforceable rights. If a WordBrewery user nevertheless attempts to enforce any provision of this document or
				initiates any legal action arising from that user's interaction with WordBrewery, the user agrees to pay WordBrewery's
				legal costs and reasonable attorneys fees incurred while defending against that legal action.</p>

			<p>Subject to the refund policy described above--which is applicable only to paid users who have purchased a WordBrewery
				product, course, or subscription--WordBrewery reserves the right to ban or restrict any user or IP address from using
				its products or services for any reason and without any notice or explanation.</p>

			<b>13. Choice of law</b>
			<p>This document is to be construed and interpreted according to the applicable laws of United States and--where no federal
				law is applicable--the laws of Delaware. Any WordBrewery user who brings any action relating to this document or attempts
				to enforce any provision of this document must bring such an action in the United States Court for the District of Delaware.
			</p>
		</div>
		<div class="col-md-2"></div>

	</div>
</div>
<!--Container End-->
<wb-footer-new></wb-footer-new>