<div role="tabpanel" class="tab-pane" id="pwd">
  <div class="col-md-offset-4 col-sm-offset-4 col-md-6 col-sm-7" *ngIf="requestStatus.isServerRequesting"
    style="padding-bottom:10px;">
    <div class="col-md-12 text-danger">
      Processing... <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
  <div class="col-md-offset-4 col-sm-offset-4 col-md-6 col-sm-7" *ngIf="requestStatus.isSuccess"
    style="padding-bottom:10px;">
    <div class="col-md-12 text-success">
      You have set your password successfully.
    </div>
  </div>
  <div class="col-md-offset-4 col-sm-offset-4 col-md-6 col-sm-7">
    <form [formGroup]="changePasswordFrom" (ngSubmit)="changePassword();">
      <div class="form-group" [class.has-error]="changePasswordFrom.controls.currentPwd.dirty && !changePasswordFrom.controls.currentPwd.valid">
        <label>Current password</label>
        <input type="password" class="form-control" formControlName="currentPwd">
        <control-messages [control]="changePasswordFrom.controls.currentPwd"></control-messages>
      </div>
      <!--form-group-->

      <div class="form-group" [class.has-error]="changePasswordFrom.controls.newPwd.dirty && !changePasswordFrom.controls.newPwd.valid">
        <label>New password</label>
        <input type="password" class="form-control" formControlName="newPwd">
        <control-messages [control]="changePasswordFrom.controls.newPwd"></control-messages>
      </div>

      <!--form-group-->
      <div class="form-group" [class.has-error]="changePasswordFrom.controls.confirmNewPwd.dirty && !changePasswordFrom.controls.confirmNewPwd.valid">
        <label>Confirm new password</label>
        <input type="password" class="form-control" formControlName="confirmNewPwd">
        <control-messages [control]="changePasswordFrom.controls.confirmNewPwd"></control-messages>
      </div>
      <!--form-group-->

      <div class=" text-center ">
        <button type="submit " [disabled]="!changePasswordFrom.valid || requestStatus.isServerRequesting" class="btn btn-primary ">Save</button>
      </div>
    </form>
  </div>
  <!-- .col-9 end -->
</div>
<!--pwd-->