<div class="main-home-container">
  <div class="main-home">
    <div class="row banner">
      <img src="images/banner.jpg">
      <div class="banner_content">
        <h2 style="padding-left:5px;padding-right:5px;">Fluency one sentence at a time</h2>
        <a href="javascript:void(0);" (click)="navigateToExplore($event);" class="get-started-btn">Get Started</a>
      </div>
      <!-- .banner_content end -->
    </div>
    <!--.banner end -->
    <div class="row bg-grey pad60">
      <div class="container">
        <div class="welcome-txt">
          <h3>Real language, real context, maximum efficiency</h3>
          <p>
            WordBrewery shortens your path to fluency by teaching high-frequency words in context with real sentences from news sites around the world.
          </p>
        </div>
        <!-- .welcome-txt end -->
      </div>
      <!-- .container end -->
    </div>
    <!-- .row end -->
    <div class="row">
      <div class="container">
        <div class="featured-block">
          <div class="col-md-6 col-sm-6 front-pull-left text-center">
            <img src="images/home-icon1.png">
          </div>
          <!-- .col end -->
          <div class="col-md-6 col-sm-6 front-pull-right">
            <div class="featured-txt">
              <h3>The shortest path to fluency</h3>
              <p>
                The most common 3000 words in any language make up roughly 95% of the words you need for daily conversation and reading. WordBrewery shows you only sentences with high-frequency words so you get the maximum return on your investment of time.
              </p>
            </div>
            <!-- .featured-txt end end -->
          </div>
          <!-- .9col end -->
        </div>
        <!-- .featured-block end -->
        <div class="row divider">
          <hr/>
        </div>
        <!--.divider end -->
        <div class="featured-block">
          <div class="col-md-6 col-sm-6 front-pull-left">
            <div class="featured-txt">
              <h3>Learning tailored to you</h3>
              <p>
               WordBrewery tracks your progress and shows you challenging sentences at your current skill level and in your area of interest.
              </p>
            </div>
            <!-- .featured-txt end end -->
          </div>
          <!-- .col end -->
          <div class="col-md-6 col-sm-6 front-pull-right text-center">
            <img src="images/home-icon2.png">
          </div>
          <!-- .col end -->
        </div>
        <!-- .featured-block end -->
      </div>
      <!-- .container end -->
    </div>
    <!-- .row end -->
    <div class="row bg-grey pad60">
      <div class="container">
        <div class="welcome-txt">
          <h3>For accelerated, intermediate, and advanced learners</h3>
          <p>
         Each word you learn unlocks new sentences. Accelerated beginners read real sentences with the 500 most essential words. Learners who reach the Master level study the 20,000 most essential words--enough to read and discuss almost anything.
          </p>
        </div>
        <!-- .welcome-txt end -->
      </div>
      <!-- .container end -->
    </div>
    <!-- .row end -->

    <div class="row">
      <div class="container">
        <div class="featured-block">
          <div class="col-md-6 col-sm-6 front-pull-left text-center">
            <img src="images/home-icon3.png">
          </div>
          <!-- .col end -->

          <div class="col-md-6 col-sm-6 front-pull-right">
            <div class="featured-txt">
              <h3>Learn one sentence at a time</h3>
              <p>
                People learn best in short bursts, and our brief lessons fit into your busy life. Language is a game, and every sentence is a puzzle. Each WordBrewery sentence you solve will bring you closer to real fluency.
              </p>
            </div>
            <!-- .featured-txt end end -->
          </div>
          <!-- .col end -->

        </div>
        <!-- .featured-block end -->
        <div class="row divider">
          <hr/>
        </div>
        <!--.divider end -->

        <div class="featured-block">
          <div class="col-md-6 col-sm-6 front-pull-left">
            <div class="featured-txt">
              <h3>Inexhaustible content</h3>
              <p>
                We have collected, tested, and scored roughly one million sentences in nineteen languages, and we are constantly gathering new ones and testing them for usefulness. This means you will never run out of new challenges.
              </p>
            </div>
            <!-- .featured-txt end end -->
          </div>
          <!-- .col end -->
          <div class="col-md-6 col-sm-6 front-pull-right text-center">
            <img src="images/home-icon4.png">
          </div>
          <!-- .col end -->
        </div>
        <!-- .featured-block end -->
      </div>
      <!-- .container end -->
    </div>
    <!-- .row end -->
    <div class="row get-started-sec">
      <div class="container text-center">
        <a href="javascript:void(0);" (click)="navigateToExplore($event);" class="get-started-btn">Get Started</a>
      </div>
      <!-- .container end -->
    </div>
    <!-- .row end -->
    <div class="row">
      <div class="container">
        <div class="row divider2"></div>
        <!--.divider end -->
        <div class="blog-sec pad60" *ngIf="requestStatus.isServerRequesting">
          <div class="row pad40">
            <div class="col-md-12">
              <h3 class="text-success text-center">Loading blog feed... <i class="fa fa-spin fa-refresh fa-lg"></i></h3>
            </div>
          </div>
        </div>

        <div class="blog-sec pad60" *ngIf="feedList.length > 0 && !requestStatus.isServerRequesting">
          <h2><a href="https://wordbrewery.com/blog">Language Untapped: The WordBrewery Blog</a></h2>
          <div class="row pad40">
            <div class="col-md-4 col-sm-4" *ngFor="let feed of feedList">
              <a target="_blank" style="text-decoration:none;" href="{{feed.link}}">
                <div class="blog-block">
                  <div [style.backgroundImage]="'url(' + getFeedImage(feed.content) + ')'" class="blog-feature-img"></div>
                  <h3>{{feed.title}}</h3>
                  <p class="blog-date">{{feed.publishedDate | date: 'MMM dd, yyyy'}}</p>
                  <p>
                    {{feed.contentSnippet}}
                  </p>
                </div>
              </a>
              <!-- blog-block end -->
            </div>
            <!-- .col end -->
          </div>
          <!-- .row end -->

          <div class="row blog-btn text-center pad40">
            <a target="_blank" href="http://wordbrewery.com/blog">Read More</a>
            <div class="clearfix"></div>
          </div>
          <!-- .blog-btn end -->

        </div>
        <!-- .blog-sec end -->

      </div>
      <!-- .container end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- main-home end -->
  <wb-footer></wb-footer>
  <!-- .row end -->
</div>
