
  <div class="col-md-9 col-sm-9 col-xs-12 prof_border_lft profile-main profile-stat">
 			
 		   <div class="row">
 			<div class="col-md-3 col-sm-4 col-xs-12">
  			  <div class="acc_profile_img">
				  <img src="{{userData?.avatarUrlSmall ? userData.avatarUrlSmall : 'https://s3.amazonaws.com/wordbrewery/avatars/small/default-avatar-small.png' }}">
  			  </div><!-- .acc_profile_img end -->

  			  <div class="row profile-badge">
 			    <a href="#">premium</a>	
  			  </div><!-- .profile-badge end -->
 			</div><!-- .col-3 end -->
 		   </div><!-- .row end --> 
 		   
 		   <div class="col-md-12 col-sm-12 col-xs-12 profile-setting-tab">

 				<ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#course-spanish" aria-controls="course-spanish" role="tab" data-toggle="tab">Spanish</a></li>
					    <li role="presentation"><a href="#course-german" aria-controls="course-german" role="tab" data-toggle="tab">German</a></li>
					  </ul>
					  <hr class="setting-tab-hr">
 			</div><!--col-md-12-->
           
 		   <div class="row">	
 			<div class="tab-content">
 			<div role="tabpanel" class="tab-pane active" id="course-spanish">
 			<div class="col-md-8 col-sm-8 col-xs-12 my_course">
 			 <h3>My courses</h3>
 			 <div class="my_course_list">
 			  <ul>
 			   <li><img src="images/profile/prof_spanish_lang.png">  <p>Basic spanish course</p>  <div id="my_course1" class="my_course_bar"></div></li>
 			   <li><img src="images/profile/prof_spanish_lang.png">  <p>One more spanish course</p>  <div id="my_course2" class="my_course_bar"></div></li>
 			   <li><img src="images/profile/prof_spanish_lang.png">  <p>And more spanish course</p>  <div id="my_course3" class="my_course_bar"></div></li>
 			  </ul>
 			 </div><!-- .my_course_list end --> 
 			</div><!-- .col-9/prof_my_course end -->

 			<div class="col-md-4 col-sm-4 col-xs-12 my_course_wd_cnt">
 			 <h3>Learned words counter</h3>
 			 <div id="wordsMastered"></div>
		 	<h3><img src="images/spanish-book-icon.png"> Spanish words</h3>
 			</div><!-- .col-3/my_course_wd_cnt end -->	
 			</div><!-- #course-spanish -->

 			<div role="tabpanel" class="tab-pane active" id="course-german">
 			</div><!-- #course-german-->

 			</div><!-- tab-content-->
 		   </div><!-- .row end -->

 		   


 		   <div class="row">	
 			<div class="col-md-11 col-sm-11 col-xs-12 freq_rank">
 			 <h3>Frequency rank</h3>
 			<div class="row">
 			 <div class="col-md-6 col-sm-9 col-xs-12 prof_mastered_wd">
 			  <div class="row">
 			   <h3 class="text-center">Mastered words</h3><p class="freq_rank_no pull-right">Rank: 140</p>
 			  </div><!-- .row end -->
 			  <h1>espalda<br><span>back</span></h1> 
 			   <div class="divider"></div><!-- .divider end -->
 			 </div><!-- .prof_mastered_wd end --> 
 			</div><!-- .row end -->
 			
 			<div class="row freq_rank_chart">
 			 <img src="images/profile/freq_rank_chart.png">
 			 <div class="row">
 			  <ul>
 			   <li class="freq_rank_label freq_rank_label_orange"><span></span>  Mastered Words</li>
 			   <li class="freq_rank_label freq_rank_label_yellow"><span></span>  Familiar Words</li>
 			   <li class="freq_rank_label freq_rank_label_green"><span></span>  Study List Words</li>
 			   <li class="freq_rank_label freq_rank_label_blue"><span></span>  Encountered Words</li>
 			  </ul>	
 			 </div><!-- .row end -->
 			</div><!-- .freq_rank_chart end --> 
 			</div><!-- .col-9/freq_rank end -->
 		   </div><!-- .row end -->

		  </div><!-- .profile-main/col-9-main end -->

		