

.wb-about-tag-line{

	font-size: 57px;
}
.aboutimg-container{

	height: 547px;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.full-width-about-image{
	
    height: 100%;
    max-height: 100%;
    width: 100%;
	background-size: cover;
	background: url(../images/about.jpg) no-repeat center center;
}

.full-width-about-image h1{
	color: #fff;
    font-weight: 300;
    font-size: 90px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-shadow: 0 5px 5px rgba(0,0,0,.35);
    top: 0;
    padding: 50px 20px 35px 20px;
    text-align: center;
}

.about-container{
	margin-left: 15%;
    margin-right: 15%;
    padding: 1px;
    font-size: 24px;    
}

.about-container p{    line-height: 1.42857143;    padding: 15px 0;}   

 .block.color-jelly-bean{

	background-color: #437c90;
    color: #f0ede4;
    font-size: 20px;
    padding: 45px 5 px;
        text-align: center;
}
.spacer-60{
	height: 60px;
    max-height: 60px;
    min-height: 60px;
}