/* course css ----------------------------------- */
.course-search-bx {
  border-bottom: 1px solid #d3cbb8;

  margin: 0 0 20px;
  width: 95%;

  padding: 0 0 5px;
}

.course-search-bx > button {
  border: medium none;
  box-shadow: none;
  display: inline-block;
  height: 30px;
  text-align: center;
  width: 30px;
  background: none;
}

.course-search-bx input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  color: #777777;
  font-size: 18px;
  width: 85%;
  display: inline-block;
  padding: 0 5px;
}

.course .tiles span a {
  margin: auto !important;
}

.course .tile{
  height: auto !important;
  min-height: 210px;
  border-radius:5px;

}

.course .tile h2 {
  display: block;
  font-size: 18px !important;
  font-weight: 500 !important;;
  line-height: 18px;
  padding: 0 15px;
  text-align: left !important;;

  color: #2d2d2d;
}

.course .tile h2 small{

  font-size: 16px !important;;
  line-height: 16px;
}
.course-detail {
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  margin: 45px auto 0;
  max-width: 1010px;
  width: 100%;
  border-radius:5px;
}
.course-img{
  padding: 0;
}
.course-img img {
  width: 100%;
  height: auto;;
}

.course-title {
  color: #2d2d2d;
  font-size: 22px;
  margin: 0 auto 20px;
}

.course-title small{
  color: #777;
  font-size: 16px;
}

.course-level {
  color: #51aed5;
  font-size: 16px;
  margin: 5px auto 0;
  text-align: right;
}

.course-content {
  padding: 70px 55px 0;
}

.course-content .col-sm-12{margin: 0;padding: 0;}
.course-content .col-sm-12 div{margin: 0;padding: 0;}
.course-content ul {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  width: 95%;
}

.course-content ul li {
  color: #777777;
  font-size: 14px;
  margin: 15px auto;
  padding: 0;
}
.course-btn-wrap {
  margin: auto;
  max-width: 1010px;
  width: 96%;
}

.course-btn-wrap .col-sm-12 {
  width: 100%;
  margin: auto;
  background: none;
  float: none !important;
  box-shadow: none;
}

.course-btn {
  border: 1px solid #437c90;
  border-radius: 5px;
  color: #437c90;
  display: block;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 0!important;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  width: 175px;
  margin: 50px;
}

.course-btn:hover{
  border: 1px solid #437c90;
  color: #fff;
  background: #427c90;
  text-decoration: none;
}

.course-btn-lg
{
  width: 220px;
}

.course-prog .col-sm-4
{
	height: 220px;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	background-color: #fff;
	padding: 0px;
	border-radius: 5px;
}
.course-prog .col-sm-4 .tile {
    box-shadow: none;
    padding: 20px 20px 0;
    min-height: 270px;
}

.course-prog .col-sm-4 .tile img
{
	width: auto;
}
.course-prog .col-sm-4:last-child .tile img
{
	width: 50px;
	height: auto;
	margin-right: 5px;
}
.course-prog .col-sm-4 .tile label {
    font-family: "Roboto";
    font-size: 22px;
    color: #ded8c8;
    font-weight: 600;
    display: block;
    position: absolute;
    /* margin-top: -50px; */
    /* margin-left: 105px; */
    text-align: center;
    margin: auto;
    width: 100%;
    top: 38%;
    margin: auto;
    margin-left: -15px;
}

.course-prog .col-sm-4 .tile label span
{
	font-family: "Roboto";
    font-size: 22px;
    color: #ebb331;
    font-weight: 600;
}
.course-prog .col-sm-4:nth-child(2) .tile label span
{
	color: #51aed5;
}
.course-prog .col-sm-4 .tile h1
{
	font-family: "Roboto";
    font-size: 18px;
    color: #777;
    font-weight: 400;
}
.course-prog .col-sm-4 .tile h1 img
{
	width: 30px!important;
	height: auto;
}

.words-dnt .col-sm-12
{
  max-width: 750px;
  width: 94%;
  padding: 0px;
  padding-bottom: 10px;
  min-height: 10px;
  height: auto;
}
.words-dnt .qz-progress-bar
{
  max-width: 750px;
}
.words-dnt .word-title
{
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 22px;
}
.words-dnt h2
{
  font-size: 20px;
  color: #3b3b3b;
  text-align: center;
  margin: 45px 54px 10px 54px;
}
.words-dnt h2 span
{
  background-color: #ebb331;
}
.words-dnt hr
{
  border-color: #ebebeb;
}
.words-dnt .col-sm-4 label,.words-dnt .col-sm-5 label
{
  font-size: 14px;
  color: #a9a9a9;
}
.words-dnt .col-sm-12 .col-sm-5:first-child label
{
  text-align: right;
}
.words-dnt .col-sm-4 label img,.words-dnt .col-sm-5 label img
{
  margin-right: 10px;
}
.words-dnt .col-xs-3:last-child label img
{
  width: 5px;
}
.words-dnt .col-sm-12 h3
{
  font-size: 24px;
  color: #437c90;
  font-weight: normal;
  text-align: center;
}
.words-dnt .col-sm-12 h3 span:first-child
{
  display: block;
  font-size: 20px;
  color: #3b3b3b;
}
.words-dnt .col-sm-12 h3 span:last-child
{
  display: block;
  font-size: 18px;
  // color: #b0b0b0;
}
.words-dnt .col-sm-12 .col-sm-5 span
{
  font-size: 16px;
  color: #437c90;
  border-bottom: 1px solid #437c90;
}
.words-dnt .col-sm-12 .col-sm-5:first-child span
{
  text-align: right;
}
.words-dnt .col-sm-12 .chev
{
  top: 60px;
  margin-left: 50px;
}
.words-dnt .col-sm-12 .chev a img
{
  position: absolute;
  top: 30%;
}
.words-dnt .col-sm-12 .chev a:last-child img
{
  right: 0;
  margin-right: 50px;
}


.course-btn-wrap .modal{padding-top: 8% !important;}
.words-dnt .modal-content
// {
//   width: 100%;}
// .words-dnt .modal-dialog
// {
//   max-width: 800px;
//   width: 100%;
//   height: 365px;
//   margin-top: 0px;
// }
.words-dnt .modal-body h1 {
  font-size: 24px;
  color: #343434;
  margin-bottom: 20px;
  margin: 10px auto;
}

.words-dnt .modal-body .btn-word-yl
{
  background-color: transparent;
  border: 1px solid #ebb331;
  color: #ebb331;
  font-size: 22px!important;
  border-radius: 10px;
  font-weight: 400!important;
  text-transform: initial!important;
  padding: 5px 20px;
}
.words-dnt #words-modal1 .modal-body .btn-word-yl
{
  background-color: #ebb331;
  color: #fff;
}
.words-dnt .modal-body .course-btn
{
  margin: 0 auto;
  margin-top: 20px;
}
.words-dnt .modal-body .bk
{
  font-size: 20px;
  color: #437c90;
  border-bottom: 1px solid #437c90;
  text-decoration: none;
}




/*-------------------new css added : 13 aug 2016 -----------------  */
.course-btn-wrap .course-btn {
  margin: 50px auto;
}

#wordsMastered {
  margin: 40px auto;
}

/*-------------------tile chart & footer css added : 17 aug 2016 -----------------  */

.tile-chart
{
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 20px 20px 10px;
  min-height: 290px;
  border-radius: 5px;
  width: 320px;
  margin-right: 24px;
  overflow: hidden;
  height: auto;
}

.tile-chart:last-child
{
  margin-right: 0px;
}

.tile-chart img
{
  width: auto;
}

.tile-chart label {
  font-size: 24px;
  color: #ded8c8;
  font-weight: 600;
  display: block;
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
  top: 38%;
  left: 0;
  margin: auto;
}

.tile-chart label span
{    color: #ebb331;
}

.tile-chart h1
{
  font-size: 18px;
  color: #777;
  font-weight: 400;
}
.tile-chart h1 img
{
  width: 30px!important;
  height: auto;
}
@media only screen and (min-width: 1024px){
  .course-prog
  {
    margin: 0px auto 0px;
    max-width: 1010px;
    width: 100%;
  }
  .course-prog .col-sm-4 {
    width: 320px;
    margin-right: 24px;
    overflow: hidden;
    height: auto;
}

	.course-prog .col-sm-4:last-child
	{
		margin-right: 0px;
	}

}
@media only screen and (min-width: 768px) and (max-width: 1009px){
  body{overflow-x: hidden;
  }
  .course {
    width: 100%;
  }
  .course .container {
    width: 100%;
  }

  .course .tile {
    min-height: 170px;
  }

  .course .tile img {
    height: auto !important;
    width: 100% !important;
  }
  .course-detail {

    width: 96%;
  }

  .course .tiles {
    margin: 25px 5px;
    width: 31% !important;
  }

  .course-prog .tile {
    min-height: 240px;
  }


  .course .col-sm-3 {
    padding: 0 7px;
    width: 25%;
  }

  .course-content {
    padding: 25px 25px 0;
  }

  .course-btn-wrap .col-md-8.col-sm-8 {
    float: center;
    width: 100%;
  }

  .course-btn-wrap .col-md-8 .course-btn {
    margin: 50px auto;
  }

  .course-prog {
    margin-top: 40px !important;
    width: 100%;
  }

  .course-prog .col-sm-4
  {
    
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
    width: 320px;
    margin-right: 24px;
    overflow: hidden;
    height: auto;
  }

  .course-prog .col-sm-4 .tile {
   box-shadow: none;
    padding: 20px 20px 0;
    min-height: 270px;
  }
  .course-prog .col-sm-4 .tile label {
    bottom: auto;
    font-size: 18px;
    left: auto;
    margin: auto;
    margin-left: -10px;
    top: 35%;
  }

  .course-prog .col-sm-4 .tile label span {
    font-size: 20px;
  }

  .course-prog .col-sm-4:last-child .tile img {
    height: auto !important;
    width: 38px !important;
  }

  .words-dnt .qz-progress-bar {
    max-width: 100%;
  }

  .words-dnt .modal-body .btn-word-yl {

    font-size: 18px!important;

  }


  .course-search-bx {
    margin: 0 auto 20px;
    width: 98%;
  }

  /*---- tile-chart css --*/


  .tile-chart {
    height: auto;
    margin: 0 8px;
    width: 31%;
    padding: 10px;
    min-height: 0;
  }
  .tile-chart label {
    font-size: 18px;
  }
  .tile-chart h1 {
    font-size: 15px;
  }

  #wordsMastered {
    margin: auto;
  }

}

@media only screen and (min-width: 481px) and (max-width:767px){
  
  .course {
    width: 80%;
  }
  .course-detail {

    width: 90%;
    margin-bottom: 20px !important;
  }
  .course .tile {
    width: 90%;
    margin: auto;
  }

  .course-content {
    padding: 20px;
  }

  .course-title {
    margin: 0 auto 10px;
  }
  .course .tile img {
    height: auto !important;
    width: 100% !important;
  }

  .course-level {
    margin: auto;
    text-align: left;
  }
  .course-content ul {
    display: block;
    float: none;
    margin: 0 20px 0 25px;
    padding: 0;
    width: 84%;
  }
  .course-btn {
    margin: 50px auto;
  }
  .words-dnt .col-sm-12
  {
    max-width: 85%;
    margin: 0px auto;
  }
  .words-dnt h2 {
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    padding: 25px 15px 0;
  }
  .words-dnt .word-title {
    font-size: 24px;
    padding-bottom: 20px;
  }

  .words-dnt .col-sm-12 .col-sm-5.col-xs-6.text-right {
    padding-right: 30px;
    text-align: right;
  }


  .words-dnt .col-sm-12 .col-xs-6.col-sm-5 {
    padding-left: 30px;
    text-align: left;
  }


  .words-dnt .col-sm-12 .col-sm-5 span {
    font-size: 14px;
    text-align: center;
  }
  /*
  .words-dnt .col-sm-12 .chev {
      margin: auto;
      padding: 0 15px;
      position: absolute;
      top: 60px;
      width: 100%;
      z-index: 0;
  }
  */

  .words-dnt .col-sm-12 .chev a img {
    left: 15px;
    position: absolute;
  }
  .words-dnt .col-sm-12 .chev a:last-child img {
    left: auto;
    margin-right: auto;
    right: 15px;
  }

  .words-dnt .col-sm-12 .col-sm-5:first-child label {

    text-align: center;
  }

  .words-dnt .modal-dialog {
    width: 94%;
  }

  .words-dnt .modal-body h1 {
    font-size: 18px;
    margin: 0 auto 20px;
  }

  .words-dnt .modal-body .col-xs-4 {
    padding: 0;
  }
  .words-dnt .modal-body .btn-word-yl {
    border-radius: 5px;
    font-size: 20px !important;
    padding: 5px 20px;
  }

  .words-dnt .modal-body .course-btn {
    margin: 20px auto 0;
    padding: 10px 0;
  }

  .course-prog {
    margin: 40px auto 0;
    width: 100%;
  }


  .course-search-bx {
    margin: 0 auto 20px;
    width: 100%;
  }
  .course-prog .col-sm-4 .tile {
    box-shadow: none;
    padding: 20px 10px 10px;
    min-height: 0;
  }

  #wordsMastered {
    margin: 20px auto 30px;
  }



  /*---- tile-chart css --*/

  .tile-chart{
    width: 100% ;
    height: auto;
    margin: 0 auto 20px;
    min-height: 0;
  }


  .tile-chart img {
    height: auto !important;
    width: auto !important;
  }


  .tile-chart label {
    bottom: 30%;
    font-weight: 600;
    left: auto;
    margin: auto;
    font-size: 26px;
    margin-left: -15px;
  }
  .tile-chart label span {
    font-size: 26px;
  }
  /*---- tile-chart css --*/
}

@media only screen and (max-width:480px){
  
  .course {
    width: 100%;
  }
  .course .tile img {
    height: auto !important;
    width: 100% !important;
  }

  .course-detail {
    margin: 20px auto 10px !important;
  }
  .course-content {
    padding: 20px;
  }

  .course .tile{
    width: 94%;
    margin: 20px auto 0;}


  .course-level {
    margin: auto;
    text-align: left;
  }
  .course-content ul {
    display: block;
    float: none;
    margin: 0 20px 0 25px;
    padding: 0;
    width: 88%;
  }
  .course-btn {
    font-size: 18px;
    margin: 50px auto;
    padding: 10px 0;
    width: 160px;
  }

  .words-dnt h2 {
    font-size: 18px;
    line-height: 28px;
    margin: auto;
    padding: 15px 15px 0;
  }
  .words-dnt .word-title {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .words-dnt .col-sm-12 .col-sm-5.col-xs-6.text-right {
    padding-right: 6px;
    text-align: right;
  }


  .words-dnt .col-sm-12 .col-xs-6.col-sm-5 {
    padding-left: 6px;
    text-align: left;
  }


  .words-dnt .col-sm-12 .col-sm-5 span {
    font-size: 14px;
    text-align: center;
  }
  /*
  .words-dnt .col-sm-12 .chev {
      margin: auto;
      padding: 0 15px;
      position: absolute;
      top: 60px;
      width: 100%;
      z-index: 0;
  }
  */

  .words-dnt .col-sm-12 .chev a img {
    left: 7px;
    position: absolute;
  }
  .words-dnt .col-sm-12 .chev a:last-child img {
    left: auto;
    margin-right: auto;
    right: 7px;
  }

  .words-dnt .col-sm-12 .col-sm-5:first-child label {
    text-align: center;
  }

  .words-dnt .modal-dialog {
    width: 94%;
  }

  .words-dnt .modal-body h1 {
    font-size: 18px;
    margin: 0 auto 20px;
  }

  .words-dnt .modal-body .col-xs-4 {
    padding: 0;
  }
  .words-dnt .modal-body .btn-word-yl {
    border-radius: 5px;
    font-size: 16px !important;
    padding: 5px 10px;
  }
  .course-prog .col-sm-4:last-child .tile img {
    width: 40px !important;
  }

  .course .tiles span a {
    float: right !important;
    margin: -20px auto 0 !important;
  }

  .course-search-bx {
    margin: 0 auto 20px;
    width: 100%;
  }
  .course-prog .col-sm-4 .tile {
    box-shadow: none;
    padding: 20px 10px 10px;
    min-height: 0;
  }
  #wordsMastered {
    margin: auto;
  }

  /*---- tile-chart css --*/
  .tile-chart {
    height: auto;
    margin: 20px auto;
    width: 100%;
    min-height: 0;
  }
  .tile-chart label {
    bottom: 30%;
    font-weight: 600;
    left: auto;
    margin: auto;
    font-size: 18px;
    margin-left: -15px;
  }
  .tile-chart label span {
    font-size: 18px;
  }
  /*---- tile-chart css --*/

}

.word .tile
{
  background-color: #fff;
  padding-bottom: 10px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  height: 230px;
}
.word .tile img
{
  width: 100%;
  height: 150px;
}
.word .tile p
{
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(235,179,49,0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25px;
  height: auto!important;
  text-align: center;
  margin: 0!important;
  padding: 2px;
  padding-top: 80px;
  display: none;
}
.word .tile:hover p
{
  display: block;
}
.word .tile hr
{
  border-color: #ebebeb;
  border-width: 3px;
  border-radius: 3px;
  margin: 5px 0px;
}
.word .tile hr:after
{
  content: '';
  display: block;
  height: 3px;
  border-radius: 3px;
  background-color: #337ab7;
  width: 45%;
  position: relative;
  margin-top: -3px;
}
.word .tile .col-sm-6 img
{
  width: 23px;
  height: 14px;
}
.word .tile span
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
.word .tile h2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 !important;
    text-align: center;
}




.course-prog .col-sm-4 .tile h1
{
	/* font-family: "Roboto"; */
	font-size: 18px;
	color: #777;
	font-weight: 400;
}
.course-prog .col-sm-4 .tile h1 img
{
	width: 30px!important;
	height: auto;
}

.tile a{
  text-decoration: none;
}

.course-search-bx input:focus{
  outline-color: transparent;
}

.sentencebox{
      margin-bottom: 50px;
      margin-top: 0px;
}

.sentencebox a{
  display: inline-flex;
  text-decoration: none;
  cursor:pointer;
}

.selecetdreviewwords{
  color: white!important;
  background-color: #E7B22D!important;
}

.selectedwordslist{
text-align: center;
}

.gap{
  margin-right: 15px;
}

.coursetext a{
  text-decoration: none;
}

.quizesentence>span>a>span{
    color: #3b3b3b!important;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
  
}
.quizesentence>span>a{
  text-decoration: none;
}

 .btn-info-active
{
  background-color: #437c90 !important;
  color: #fff!important;
}

.courseicons{
  width: 100%;
}
.courseicons>li{
        width: 30%;
        padding: 0 ! important;
}

.coursewordinfobox{
  width: 100%;
}
.coursewordinfobox>li{
  width: 50%;
  padding: 0 ! important;
}

 progressbar#courseprogresbarnew > .progress{
    height:8px !important;
  }

  div#wordInfoCourse> carousel > div > div.carousel-inner{
    min-height: 160px !important;
  }


  .quiz-btn-success{
    background-color: #5CB85C !important;
    color: white !important;
    border: none !important;
  }

  .quiz-btn-danger{
    background-color: #E46363 !important;
    color: white !important;
    border: none !important;
  }

.qz-show{
  display: block;
}

.qz-hidden{
  display: none;
}

.qz-disabled-btn{
  border-color: #ccc !important;
  color: #ccc !important;
}
.qz-disabled-btn:hover {
  background-color: #FFFFFF !important;
  color: #ccc !important;
}    
