/*-------------------- front page css --------------------------------- */
.main-home-container .row{float: left; width:100%;margin: auto;background-color:#fff;}
.bg-grey {
    background: #f9f7f0 !important;
}

.pad60{padding:60px 0;} .pad40{padding:20px 0;}
.front-pull-left {float: left;}
.front-pull-right {float: right;}
.main-home p{ 
   font-size: 18px;
   color:#443e3d;
   line-height: 24px;}

.banner {
  height: auto;
  position: relative;
  width: 100%;
}


.banner img{
  height: auto;
  width: 100%;
}

.banner_content {
    left: 50%;
    margin-left: -405px;
    max-width: 810px;
    padding: 7% 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3;
}

.banner_content h2 {
    color: #f0ede4;
    font-size: 50px;
    font-weight: 700;
    margin-bottom:95px;
}
.banner_content a {
    background-color:transparent;
    border: 3px solid #ffffff;
    border-radius: 7px;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
    width: 230px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.banner_content a:hover{
    border: 3px solid #fff;
    background-color:#fff;
    color: #EBB331;
}


.welcome-txt {
    text-align: center;
}

.welcome-txt h3 {
    color: #362925;
    font-size: 30px;
    margin: 0 auto 30px;
}

.welcome-txt p{

   width: 100%;
   max-width: 760px;
   margin: auto;
 }

.featured-block {
    overflow: hidden;
    padding: 60px 0 40px;
    width: 100%;
}

.featured-txt h3 {
    color: #362925;
    font-size: 30px;
    margin: 0 auto 20px;
}

.featured-txt {
  margin: auto;
  width: 80%;
}

.divider{  background:#f9f7f0;height:3px;}
.divider2{  background:#ede8dc;height:1px;}



.get-started-sec {
    margin: 40px auto 60px;
}

.get-started-btn {
  background-color: #ebb331;
  border: 3px solid #ebb331;
  border-radius: 7px;
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  width: 230px;
}

.get-started-btn:hover{
    border: 3px solid #EBB331;
    background-color:transparent;
    color: #EBB331;
    text-decoration:none;
}

.blog-sec h2 {
    color: #362925 !important;
    font-size: 36px !important;
    margin:auto !important;
    text-align: center !important;
    text-decoration: none  !important;
}
.blog-sec h2 a, .blog-block a{
    color: #362925 !important;
    text-decoration: none  !important;
}
.blog-block img{width:100%; height:auto;}
.blog-block h3{color: #362925; font-size:24px; margin:25px auto; line-height:24px;}
.blog-block .blog-date{color: #443e3d; font-size:18px;  margin:auto;}
.blog-block p {
  margin: 20px auto 0;
}


.blog-btn a{
  background-color: transparent;
  border: 1px solid #ebb331;
  border-radius: 7px;
  color: #ebb331;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  width: 165px;
  margin: 30px 0px 50px 0px;
}

.blog-btn a:hover{
    border: 1px solid #EBB331;
    background-color:#EBB331;
    color: #fff;
    text-decoration:none;
}

.blog-btn {
    margin-bottom: 40px;
}

.footernew {
	background: #ebb331 !important;
	bottom: 0 !important;
	left: 0!important;
	margin: auto!important;
	padding: 40px 0!important;
    width: 100%!important;
    z-index: 99999!important;
    position: relative!important;
}

.footer {
  background: #ebb331 none repeat scroll 0 0 !important;
  padding: 40px 0;
}
.footer ul{margin:auto; padding:0;}

.foot-link ul li{
    margin: 0 auto;
    display:inline-block;
}
.foot-link ul li:last-child{
margin-right:0;
}
.foot-link ul li a {
  color: #ffffff;
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-top: 10px;
  transition: all 0.3s ease 0s;
  padding: 0 10px 0 10px;
}
.foot-link ul li a:hover{
text-decoration: none;
}

.foot-social ul li{
display:inline-block;
margin-right:50px;
list-style:none;
}
.foot-social ul li:last-child{
margin-right:0;
}
.foot-social ul li a{
font-size:30px;
text-align:center;
color:#fff;
transition:all 0.3s ease 0s;}

.foot-social ul li a:hover{
color:#362925;}

@media only screen and (min-width:768px) and (max-width:1169px) {

.banner_content {
  margin-left: -384px;
  max-width: 768px;
  padding: 3% 0 0;
}

.banner_content h2 {
  font-size: 44px;
  margin-bottom: 35px;
}
.banner_content a {
  font-size: 22px;
  line-height: 22px;
  width: 180px;
  margin-top: 20px;
}

.featured-txt {
  margin: auto;
  width: 100%;
}

.blog-block h3 {
  font-size: 22px;
  line-height: 22px;
  margin: 20px auto;
}
.blog-block p {
  font-size: 16px;
  line-height: 22px;
  margin: 20px auto 0;
}



}


@media only screen and (min-width:481px) and (max-width:767px) {
  
  	.pad60 {
    padding: 40px 0;
}
 .front-pull-left,.front-pull-right{float:none !important;}
.main-home p {
  font-size: 17px;
  line-height: 24px;
}
.banner_content {
    left: auto;
    margin: auto;
    padding:0;
}
.banner_content h2 {
    font-size: 26px;
    margin: 26px auto;
}
.banner_content a {
    border: 2px solid #ffffff;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 30px;
    width: auto;
}

.banner_content a:hover {
    border: 2px solid #ffffff;
}
.welcome-txt h3 {
  font-size: 26px;
  margin: 0 auto 30px;
}


.featured-block {
    padding: 40px 0;
}

.featured-block img {
    margin: auto;
    width: 230px;
    padding-bottom: 10px;
}
.pull-right .featured-txt {
    margin: 40px auto 0;
}

.pull-left .featured-txt {
    margin: 0 auto 40px;
}
.featured-txt {
    width: 100%;
    text-align:center;
}

.featured-txt h3 {
  font-size: 26px;

}
.get-started-sec {
    margin: 0 auto 40px;
}

.get-started-btn {
    border-width: 2px;
    font-size: 18px;
    line-height: 18px;
    padding: 15px 30px;
    width: auto;
}
.get-started-btn:hover{
	border-width:2px;
	}


.blog-sec .pad40{padding:20px 0;}
.blog-block {
    margin-bottom: 40px !important;
}

.blog-block:last-child{
    margin-bottom: 0px;
}

.blog-block h3 {
    font-size: 22px;
    line-height: 22px;
    margin: 20px auto;
}

.foot-social {
    text-align: center;
    width: 100%;
   margin-bottom:10px;
}

.foot-social ul li a {
    font-size: 24px;
    text-align: center;
}

.foot-link {
    text-align: center;
    width: 100%;
}


.foot-link ul li a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 0 5px 0 5px;
}


}


@media only screen and (max-width:480px) {
	.pad60 {
    padding: 30px 0;
}
 .front-pull-left, .front-pull-right{float:none !important;}
.main-home p {
   font-size: 16px;
  line-height: 22px;
}

.banner_content {
    left: auto;
    margin: auto;
    padding:0;
}

.banner_content h2 {
     font-size: 18px;
    margin: 10px auto;
}

.banner_content a {
  border: 2px solid #ffffff;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 30px;
  width: auto;
  margin-top: 15px;
}

.banner_content a:hover {
    border: 2px solid #ffffff;
}
.welcome-txt h3 {
  font-size: 22px;
  margin: 0 auto 20px;
}


.featured-block {
    padding: 30px 0;


}
.featured-block img {
    margin: auto;
    width: 180px;
    padding-bottom: 10px;
}
.pull-right .featured-txt {
    margin: 30px auto 0;

}

.pull-left .featured-txt {
    margin: 0 auto 30px;

}


.featured-txt {
    width: 100%;
    text-align:center;
}

.featured-txt h3 {
  font-size: 22px;
  margin: 0 auto 15px;
}
.get-started-sec {
    margin: 0 auto 30px;
}

.get-started-btn{
	border-width:2px;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 30px;
  width: auto;
}

.get-started-btn:hover{
	border-width:2px;
	}
.blog-sec .pad40{padding:20px 0;}
.blog-block {
    margin-bottom: 30px !important;
}
.blog-block:last-child{
    margin-bottom: 0px;
}

.blog-block h3 {
    font-size: 22px;
    line-height: 22px;
    margin: 20px auto;
}
.footer {
  padding: 30px 0;
}

.foot-social {
    text-align: center;
    width: 100%;
   margin-bottom:10px;
}

.foot-social ul li a {
    font-size: 24px;
    text-align: center;
}

.foot-link {
    text-align: center;
    width: 100%;
}

.foot-link ul li a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
}
.blog-feature-img{
    height: 150px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.foot-social ul li a:hover {
    color: #362925;
    text-decoration: none;
}

