/*------------------------------------------*/
.fm .path
{
  font-size: 16px;
  margin: 25px 0px;
}
.fm h1
{
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  padding-left:30px;
}
.tile > a > img{
border-radius: 5px 5px 0 0;
}

.tile{
    border-radius:5px; 
}

.tileflag{

    padding: 0px 5px 5px 5px;
}
.fm .tile
{
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}
.fm .tile .col-sm-6
{
  padding: 10px 15px;
}
.fm .tile .t-head
{
  border-bottom: 1px solid #ddd;
}
.fm .tile .col-sm-3 a
{
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
.fm .tile .nav-tabs li a
{
  font-size: 18px;
  color: rgba(51, 51, 51, 0.81);
  padding: 10px 22px;
}
.fm .tile .nav-tabs > li.active > a, .fm .tile .nav-tabs > li.active > a:hover, .fm .tile .nav-tabs > li.active > a:focus
{
  color: #437c90;
  border:none!important;
  border-bottom: 3px solid #437c90!important;
  
}
.nav-tabs > li > a:hover{
background-color: transparent; 
}
.fm .tile .nav-tabs
{
  padding-left: 30%;
}
.fm .tile .tab-pane label {
   display: table-cell;
    width: 100%;
    vertical-align: middle;
    font-size: 16px;
    color: #000;
    padding: 10px 0;
    height: 65px;

}
.fm .tile .tab-pane label .fa
{
  color: #000;
}
.fm .tile .tab-pane label:after
{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #eee;
}
.fm .tile .tab-pane .col-sm-10
{
  padding-left: 40px;
  padding-right: 55px;
}
.fm .tile .tab-pane .row:last-child label:after
{
  display: none;
}
.fm .modal{
  /*padding-top: 0px !important; */
}
.modal-backdrop
{
  z-index: 0 !important;
}
.fm .modal-content
{
  width: 100%;
}
.fm .modal-body{
  padding: 15px !important;
}
.fm .modal-body .control-label,.fm .modal-body a
{
  color: rgba(86, 86, 86, 0.8);
  font-size: 16px;
}
.fm .modal-body .col-sm-11 label
{
  color: #787878;
  font-size: 16px;
}
.fm .modal-body .row
{
  border-bottom: 1px solid #ddd;
  padding: 10px 0 !important;
}
.fm .modal-footer a
{
  font-size: 16px; 
}
.fm .modal-footer
{
  text-align: left;
}
.fm .modal-footer .btn
{
  color: #437c90;
  border:1px solid #437c90;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  text-transform: capitalize;
}
.fm .modal-footer .btn-danger{
  color:#d9534f;
  border:1px solid #d9534f;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  text-transform: capitalize;
}
.word
{
  padding-top: 30px;
}
.word .nav-tabs
{
  /*padding-left: 35%;*/
  border-bottom: none;
}
.word .nav-tabs li a
{
  margin: 0 auto;
  border-radius: 20px;
  background-color: #eceae4!important;
  color: #000;
  padding: 5px;
  font-size: 16px;
}
.word .nav-tabs > li.active > a, .word .nav-tabs > li.active > a:hover, .word .nav-tabs > li.active > a:focus
{
  background-color: #ebb843!important;
  color: #fff;
}
.word .tiles label
{
  display: block;
  font-weight: normal;
  color: #848484;
  border-bottom: 1px solid#ddd;
  padding: 10px 5px;
  font-size: 16px;
}
.word .tiles span a
{
  color: #323232;
}
.word .tiles span
{
  display: block;
  font-weight: normal;
  color: #323232;
  text-transform: capitalize;
  text-align: left;
  padding: 10px 5px;
  font-size: 16px;
  margin: 5px 0px;
}
.word .tiles .btn:hover
{
  background-color: #fff!important;
}
.word .tiles .dropdown-menu
{
  width: 100%;
  padding: 5px;
}
.word .tiles .dropdown-menu li
{
  font-weight: normal;
  font-size: 16px;
}
.word .open > .dropdown-toggle.btn-default:hover
{
  background-color: #fff!important;
}
.word .tiles
{
  background-color: #fff;
  padding: 10px 10px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}
.word .tab-pane .col-sm-3 .tile
{
  background-color: #fff;
  padding-bottom: 10px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}
.word .tab-pane .col-sm-3 .tile img
{
  width: 100%;
  height: 100px;
}
.word .tab-pane .col-sm-3 .tile p
{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(235,179,49,0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
    text-align: justify-all;		   
     margin: 0 0px 0px 0px;
     	    padding: 5px;
      display: none;
	    height: 150px;
}
.word .tab-pane .col-sm-3 .tile:hover p
{
  display: block;
}
.word .tab-pane .col-sm-3 .tile hr
{
  border-color: #ebebeb;
  border-width: 3px;
  border-radius: 3px;
  margin: 5px 0px;
}
.word .tab-pane .col-sm-3 .tile hr:after
{
  content: '';
  display: block;
  height: 3px;
  border-radius: 3px;
  background-color: #337ab7;
  width: 45%;
  position: relative;
  margin-top: -3px;
}
.word .tab-pane .col-sm-3 .tile .col-sm-6 img
{
  width: 23px;
  height: 14px;
}
.word .tab-pane .col-sm-3 .tile span
{
  font-size: 14px;
  font-weight: 500;
}
.word .tab-pane .col-sm-3 .tile h2
{
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px!important;
}
@media screen and (max-width: 768px){
  .fm .tile .nav-tabs
  {
    padding-left: 0px;
  }
  .fm .tile .nav-tabs li
  {
    width: 50%;
    text-align: center;
  }
  .fm .tile .tab-pane .col-xs-6
  {
    padding-left: 17%;
  }
  .fm .tile .tab-pane .row .col-xs-6:last-child
  {
    text-align: right!important;
    padding-left: 30%;
  }
  .word .nav-tabs
  {
    padding-left: 0px;
  }
  .word .nav-tabs li
  {
    width: 50%;
  }
  .word .nav-tabs li a
  {
    padding: 5px;
  }
  .word .tab-pane .col-sm-3 .tile img
  {
    height: 150px;
  }
  .word .tab-pane .col-sm-3 .tile p
  {
    height: 150px;
  }
  .word .tiles span a
  {
    margin-top: -18px;
  }
  
}
  #smModal .modal-content
  {
    width: 90% !important;
  }

  .tablistmode{

    width: 370px;
    margin-left: 35%;
    background-color: #eceae4;
    border-radius: 50px;
    height: 35px;

  }

  .tablistmode>ul>li{
    width: 50%;
    text-align: center;
  }

  @media screen and  (max-width:500px){
.tablistmode{

    width: 310px;
    margin-left: 25px;
    background-color: #eceae4;
    border-radius: 50px;
    height: 35px;

  }
  }
   @media screen and (max-width: 360px){

  .tablistmode {
  width: 240px;
  margin-left: 0;
  background-color: #eceae4;
  border-radius: 50px;
  height: 35px;
  margin: 0 auto;
  }
  .word .nav-tabs li a{
  font-size: 14px;
  }
  .tablistmode {
  height: 33px;
  }
  }


  @media screen and (min-width: 1200px) {
    .word {
        width: 1270px;
    }
    .word .tab-pane .col-sm-3 {
        width: 210px!important;
    }
    .word .col-sm-3 {
        width: 210px;
        padding: 0;
        margin-left: 5px;
    }
    .word .tab-pane .col-sm-3 .tile {
        height: 210px;
        width: 210px;
        margin-right: -15px;
    }
    .word .tab-pane .col-sm-3 {
        padding: 0px 0px;
        margin-left: 25px;
    }
    .word .tab-pane .col-sm-3 .tile img {
        height: 150px;
    }
    .word .nav-tabs {
        width: 370px;
    }
    .container {
        width: 1270px!important;
    }
#smModal>.modal-dialog{
  width: 420px;
}
}
@media screen and (max-width: 768px) {
    .word .tab-pane .col-sm-3 .tile p {
        height: 150px;
        margin: 0px 15px!important;
    
    }
    .fm .tile .t-head h1{
      text-align: center!important;
      padding-left:0px; 
    }
   
}


#listName{
  padding: 10px;
}
#listDesc{
  padding: 10px;
}

.listdetailcontents{
  text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;

}
.listdetailcontentsicons{
   text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
  color: rgba(51, 51, 51, 0.81);;
  font-size: medium;
  }
.listdetailcontentsicons>a{
  color:rgba(51, 51, 51, 0.81);;
  font-size: large;
  -webkit-text-fill-color: rgba(51, 51, 51, 0.81);;
  text-decoration: none;

}

@media only screen and (max-width:480px){

  .listdetailcontents{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: medium;

}
.listdetailcontentsicons{
   text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
  }
  .listdetailcontents>a{
  color:rgba(51, 51, 51, 0.81);;

}


}

@media only screen and (max-width:768px){

  .listdetailcontents{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: medium;

}
.listdetailcontentsicons{
   text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
  }
  .listdetailcontents>a{
  color:rgba(51, 51, 51, 0.81);;

}
 .tablistmode {
  width: 240px;
  margin-left: 0;
  background-color: #eceae4;
  border-radius: 50px;
  height: 35px;
  margin: 0 auto;
  }
  .word .nav-tabs li a{
  font-size: 14px;
  }
  .tablistmode {
  height: 33px;
  }

}

.cht{
  min-height: 500px;
  margin-bottom: 35px;
}
.col-sm-12.no-padding {
  padding: 0px;
}
.empty-list-modal .modal-dialog {
  width: 100%;
}
.empty-list-modal .modal-body p {
    padding: 5px 0px 10px 15px;
}
.suggested-word-list {
  display: inline-block;
  padding-right: 10px;
}