@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Work Sans Regular';
    src: url('../fonts/worksans-regular-webfont.woff2') format('woff2'), url('../fonts/worksans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
::selection,
::-moz-selection {
    background: #ebb331;
    color: #fff;
}
::-moz-selection {
    background: #ebb331;
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
    background: #F5F3EE;
    font-size: 13px;
    outline: 0;
}
.header {
    background: #ebb331;
    padding: 10px 0;
}
.logo img {
    width: 100%;
    vertical-align: middle;
}
.topmenu {
    text-align: center;
}
.topmenu ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.topmenu ul li {
    list-style: none;
    float: left;
    margin-top: 20px;
}
.topmenu ul li:last-child {
    margin-right: 0;
}
.topmenu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.topmenu ul li a img {
    width:  20px;
     margin-right:  6px;
}
.topmenu ul li a span {
    background-color:  #d7a227;
    display:  inline-block;
     width:  30px;
    height:  30px;
     text-align:  center;
     border-radius:  50%;
    font-size:  14px;
     vertical-align:  middle;
     padding-top:  5px;
}
.topmenu ul li.u-img a img {
    width:  50px;
     height:  50px;
    border-radius:  50%;
    vertical-align:  middle;
    margin-top:  -10px;
}
.topmenu ul li.u-img a span {
    background-color:  transparent!important;
    width:  100%;
    height:  100%;
    vertical-align:  middle;
    display:  inline;
}
#topleftmenu ul li {
    margin-right: 30px;
}
.topmenu ul li.active {
    border-bottom: 4px solid #fff;
    padding-bottom: 7px;
}
.topmenu ul li a.active,
#topleftmenu ul li a.router-link-active {
    border-bottom: 4px solid #fff;
    padding-bottom: 7px;
}
#toprightmenu ul li {
    margin-right: 40px;
}
#toprightmenu ul li:last-child {
    margin-right: 0;
}
.contentwrapper {
    margin: 0 0 40px;
}
.tagline {
    text-align: center;
    margin: 30px 0;
}
.tagline h3 {
    font-size: 17px;
    color: #848484;
    margin: 0;
}
.leftbox {
    background: #fff;
    margin: 0 0 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -moz-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -webkit-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -o-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
}
.leftboxheader {
    padding: 10px 0 10px 20px;
}
.leftboxheader {
    border-bottom: 1px solid #ebebeb;
}
.leftboxheader h3 {
    margin: 0;
    color: #848484;
    font-size: 16px;
}
.leftboxbody {
    padding: 10px 3px;
}
.box {
    background: #fff;
    margin: 0px 0 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -moz-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -webkit-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -o-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
}
.boxcontent h3.mainword {
    text-align: center;
    font-size: 17px;
    color: #3b3b3b;
    padding: 22px 0;
    width: 90%;
    margin: 0 auto;
    // white-space: pre-wrap;
}
.boxcontent h3.mainword a {
    color: #3b3b3b;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
}
.boxcontent {
    border-bottom: 1px solid #ebebeb;
}
.boxbuttons {
    text-align: center;
}
.boxbuttons ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.boxbuttons ul li {
    float: left;
    list-style: none;
    padding: 10px 20px 10px 0;
}
.boxbuttons ul li:last-child {
    padding-right: 0;
}
.boxbuttons ul li a {
    text-decoration: none;
    color: #a9a9a9;
    font-size: 14px;
}
.boxbuttons ul li a:hover,
.boxfooter ul li a:hover {
    text-decoration: none;
    color: #437c90;
    font-size: 14px;
}
.boxbuttons ul li a span {
    vertical-align: middle;
}
.boxbuttons ul li img {
    height: 15px;
    vertical-align: middle;
}
.box_content_text {
    padding-right: 30px;
    text-align: center;
    vertical-align: middle;
    height: auto;
    max-height: 110px;
    overflow-y: auto;
}
.box_content_title p {
    line-height: 12px;
}
.box_content_text li {
    color: #000 !important;
    font-size: 12px;
    /* line-height:15px; */
}
.clickedWord {
    color: #437c90;
    font-size: 15px;
    font-weight: 200;
    padding-top: 25px;
    text-align: center;
    text-transform: capitalize;
}
.token {
    font-size: 12px;
}
.token a {
    color: #3b3b3b;
    text-decoration: none;
}
.noun {
    color: #848484;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
.stepbutton {
    text-align: center;
}
.stepbutton button {
    display: inline-block;
    border: 1px solid #437c90;
    padding: 10px 40px;
    background: transparent;
    color: #437c90;
    font-size: 20px;
}
.stepbutton button:active {
    display: inline-block;
    padding: 10px 40px;
    background-color: #39697a;
    color: #FFFFFF;
    font-size: 20px;
}
.stepbutton button:hover {
    display: inline-block;
    padding: 10px 40px;
    background-color: #437c90;
    color: #FFFFFF;
    font-size: 20px;
}
.boxfooter {
    background: #fff;
    padding: 0 10px;
}
.boxfooter ul {
    margin: 0;
    padding: 0;
}
.boxfooter ul li {
    list-style: none;
}
.boxfooter ul li:nth-child(1) {
    float: left;
    padding: 10px 13px 10px 22px;
}
.boxfooter ul li:nth-child(2) {
    float: right;
    padding: 10px 14px 10px 0;
}
.boxfooter ul li a {
    color: #a9a9a9;
    text-decoration: none;
    font-size: 14px;
}
.boxfooter ul li a span {
    vertical-align: middle;
    font-size: 12px;
}
.boxfooter ul li img {
    height: 14px;
}
#addtolist {
    color: #ADD8E6;
}
.rightbox{
    max-height: 280px;
    height: 100%;
    overflow-y: auto;
}
.boxoverflow{
overflow-x: hidden;
}
.rightbox h3 {
color: #bfbfbf;
font-size: 16px;
margin: 30px auto 50px;
padding: 0;
width: 90%;
}
#wordinfotxt {
    color: #bfbfbf;
    font-size: 16px;
    margin: 50px auto;
    padding:  0;
    width: 90%;
    text-align: center;
}
.rightbox h3 a {
    color: #437c90;
    font-size: 16px;
     text-decoration: none;
}
.mobilelogo {
    position: relative;
    z-index: 5;
    width: 92%;
    float: right;
    text-align: center;
}
.mobilelogo img {
    display: inline-block;
    width: 100%;
}
.highlightedword {
    background: #ebb331;
    text-decoration: none;
    // padding:0px 5px 0px 5px;
}
.highlightedword:hover {
    text-decoration: none;
}
/***menu***/

.animenu__toggle {
    border: 0 none;
    cursor: pointer;
    display: none;
    height: 40px;
    margin-left: 10px;
    padding: 10px;
    width: 40px;
    outline: medium none !important;
    background-color: transparent;
}
.animenu__toggle:hover {
    background-color: transparent;
}
.animenu__toggle__bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
}
.animenu__toggle__bar + .animenu__toggle__bar {
    margin-top: 4px;
}
.animenu__toggle--active .animenu__toggle__bar {
    margin: 0;
    position: absolute;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(1) {
    transform: rotate(45deg);
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(2) {
    opacity: 0;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(3) {
    transform: rotate(-45deg);
}
.animenu {
    display: block;
    left: -5%;
    margin: auto;
    padding-left: 3%;
    position: absolute;
    width: 110%;
    z-index: 4;
}
.animenu ul {
     padding:0 0  0 15px;
    list-style: none;
}
.animenu li,
.animenu a {
    display: inline-block;
    font-size: 15px;
}
.animenu a {
    color: #fff;
    text-decoration: none;
}
.animenu__nav {
    background-color: #ebb331;
}
.animenu__nav > li {
    position: relative;
}
.animenu__nav > li > a {
    font-size: 18px;
    padding: 10px;
    position: relative;
    width: 100%;
}
.animenu__nav > li > a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 0;
    border-top-color: currentColor;
    top: 50%;
    margin-top: -2px;
    right: 10px;
}
.animenu__nav > li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.animenu__nav > li:hover > a {
    color: #fff;
}
.animenu__nav__child {
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 20px 0 0;
    background-color: #373737;
    transition: margin 0.15s, opacity 0.15s;
}
.animenu__nav__child > li {
    width: 100%;
    border-bottom: 1px solid #fff;
}
.animenu__nav__child > li:last-child {
    border: 0;
}
.animenu__nav__child a {
    padding: 10px;
    width: 100%;
    border-color: #fff;
}
.animenu__nav__child a:hover {
    color: #fff;
}
@media screen and (max-width: 1000px) {
    
    .mobilelogo img {
        width: 35%;
    }
    .animenu__toggle {
        display: inline-block;
        background-color: transparent;
    }
    .animenu__nav,
    .animenu__nav__child {
        display: none;
    }
    .animenu__nav {
        margin: 10px 0;
    }
    .animenu__nav > li {
        width: 100%;
        border-right: 0;
    }
    .animenu__nav > li:last-child {
        border: 0;
    }
    // .animenu__nav > li:first-child > a:after {
    //     content: '';
    //     position: absolute;
    //     height: 0;
    //     width: 0;
    //     left: 1em;
    //     top: -6px;
    //     border: 6px solid transparent;
    //     border-top: 0;
    //     border-bottom-color: inherit;
    // }
    .animenu__nav > li > a {
        width: 100%;
        padding: 10px;
        position: relative;
    }
    .animenu__nav a:hover {
        color: #fff;
    }
    .animenu__nav__child {
        position: static;
        background-color: #373737;
        margin: 0;
        transition: none;
        visibility: visible;
        opacity: 1;
    }
    .animenu__nav__child > li:first-child > a:after {
        content: none;
    }
    .animenu__nav__child a {
        padding-left: 20px;
        width: 100%;
    }
}
.animenu__nav--open {
    display: block !important;
}
.animenu__nav--open .animenu__nav__child {
    display: block;
}
/***popup modal***/
/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    
    position: fixed;
    /* Stay in place */
    
    z-index: 5;
    /* Sit on top */
    
    padding-top: 176px;
    /* Location of the box */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    
    background-color: rgba(205, 205, 205, 0.50);
    /* Black w/ opacity */
}
/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    border-radius: 0;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
/* The Close Button */

.close {
    color: #333;
    float: right;
    font-size: 20px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    background-color: #fff;
    color: #333;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    text-align: center;
}
.modal-header h2 {
    font-size: 14px;
    color: #9e9e9e;
    margin: 0;
    padding: 0;
}
.modal-body {
    padding: 0;
}
.modal-body p {
    padding: 5px 30px 43px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    border-top: none;
}
.popwordslist {
    margin: 0;
}
.popwordslist ul {
    margin: 0;
    padding: 0;
}
.popwordslist ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    padding: 7px 30px 7px 15px;
}
.popwordslist ul li img {
    padding-right: 7px;
    width: 26px;
}
.popwordslist li a {
    text-decoration: none;
    color: inherit;
}
.popwordslist li a:hover {
    color: #337ab7;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(235, 184, 67, 0.8) url("../images/up.png") no-repeat center 50%;
    background-size: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    
    opacity: 0.5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
.loginbox {
    position: fixed;
    left: 52%;
    top: 23%;
    /*transform: translate(-50%, -50%); */
    
    margin-left: -20%;
    width: 36%;
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -moz-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -webkit-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
    -o-box-shadow: 0 0 10px 5px rgba(232, 230, 225, 1);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:-webkit-autofill {
    background-color: red !important;
}
.loginboxheader .nav-tabs > li {
    width: 50%;
    text-align: center;
}
.loginboxheader .nav-tabs > li a {
    font-size: 17px;
    color: #a9a9a9;
}
.loginboxheader .nav-tabs > li a:hover {
    box-shadow: none;
    border-right: none;
    border-left: none;
}
.loginboxheader .nav-tabs > li.active {
    position: relative;
}
.loginboxheader .nav-tabs > li.active > a {
    border: none;
    text-align: center;
    color: #437c90;
}
.loginboxheader .nav > li > a:hover,
.loginboxheader .nav > li > a:focus {
    background: none;
}
.loginboxheader .nav-tabs li.active:after {
    content: "";
    background: #437c90;
    height: 3px;
    width: 31%;
    display: block;
    position: absolute;
    left: 59%;
    bottom: -1px;
    margin: 0 0 0 -25%;
}
.singupwelcometext {
    text-align: center;
    color: #696969;
    font-size: 17px;
    margin: 20px 0 40px;
}
.signupformbox {
    margin: 0 auto;
    padding: 0;
    width: 90%;
}
.signupformbox input[type="text"],
.signupformbox input[type="email"],
.signupformbox input[type="password"] {
    border: none;
    outline: 0;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0px;
    margin-top: 10px;
}
.loginsignupbuttongbox {
    width: 70% !important;
    margin: 20px auto 20px;
    text-align: center;
}
.loginsignupbuttongbox button,
.socialbox button {
    background: #fff;
    border: 1px solid #437c90;
    font-size: 14px;
    padding: 5px 0 5px 5px;
    vertical-align: middle;
}
.orclause p {
    margin: 0 0 10px;
    color: #696969;
}
.socialbox {
    width: 70%;
    margin: 0 auto 32px;
}
.socialbox button.fblogin {
    background: url("../images/facebook.png");
    background-position: 20px 7px;
    background-repeat: no-repeat;
    color: #313131;
    font-size: 14px;
}
.socialbox button.gpluslogin {
    background: url("../images/gplus.png");
    background-position: 20px 4px;
    background-repeat: no-repeat;
    color: #313131;
    font-size: 14px;
}
.passbox {
    position: relative;
}
.passbox {
    position: relative;
}
.passbox i {
    position: absolute;
    top: 13px;
    right: 10px;
}
#hidepass,
#hidepass2 {
    display: none;
}
.accountsuccessmessage {
    font-size: 15px;
    margin: 30px 0 20px;
    color: #9a9a9a;
}
.account-instructions {
    width: 81%;
    margin: 0 auto;
    text-align: center;
}
.account-instructions p {
    margin: 0 0 15px;
    font-size: 13px;
    color: #9a9a9a;
}
.successbuttonbox {
    width: 20%;
    margin: 0 auto 10px;
}
.successbuttonbox button {
    background: #fff;
    border: 1px solid #437c90;
    color: #437c90;
}
.custombox input[type="text"],
.custombox input[type="password"] {
    border: none;
    border-bottom: 1px solid #ccc;
}
.forgotpassbuttonbox button {
    margin: 15px 0 0;
    color: #437c90;
}
.leftboxbody .btn-group {
    width: 100%;
}
.leftboxbody .btn-group a {
    text-align: left;
    color: inherit;
    padding-left: 13px;
}
.leftboxbody .btn-group .btn,
.leftboxbody .btn-group .btn:hover,
.leftboxbody .btn-group .btn:active {
    background: none !important;
    border: none !important;
}
.leftboxbody img {
    vertical-align: middle;
}
.leftboxbody .btn-group .dropdown-menu {
    width: 100%;
    position: relative;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    transition: all 1.0s ease-out;
    -webkit-transition: all 1.0s ease-out;
}
.leftboxbody .dropdown-menu > li > a {
    padding-left: 12px;
    color: inherit;
}
.leftboxbody .btn-group .btn.open a {
    color: 111 !important;
}
.leftboxbody .btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.leftboxbody .btn-group.open .dropdown-toggle a {
    color: inherit !important;
}
.leftboxbody .btn-primary:active,
.leftboxbody .btn-primary.active,
.leftboxbody .open > .dropdown-toggle.btn-primary {
    color: inherit !important;
    box-shadow: none;
    opacity: 1;
}
.leftboxbody .btn-group .caret {
    float: right;
    position: relative;
    top: 8px;
}
.leftboxbody .btn-group img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}
.leftboxbody .dropdown-menu li {
    padding-bottom: 5px;
}
.desktop-header-container {
    width: 1300px;
}
/***media quiries***/

@media only screen and (min-width: 240px) and (max-width: 320px) {
    .middlesection {
        padding-top: 10px;
    }
    .boxbuttons span {
        display: none;
    }
    .boxfooter span{
        display: none;
    }
    .boxbuttons ul li {
        padding: 10px 30px 10px 0;
    }
    .stepbutton {
        margin: 0 0 30px;
    }
    .modal-content {
        width: 80%;
    }
    .mobilelogo img {
        width: 64%;
        position: relative;
        left: -5%;
    }
    .boxcontent h3.mainword {
        width: 85%;
    }
    .loginbox {
        width: 95%;
        left: 0;
        position: relative;
        margin: 40px 0 0;
    }
    .socialbox button.fblogin {
        background-position: 6px 8px !important;
        background: url("../images/facebook-mobile.png");
        background-repeat: no-repeat;
    }
    .socialbox button {
        font-size: 11px;
        padding-left: 12px;
    }
    .socialbox button.gpluslogin {
        background-position: 6px 8px !important;
        background: url("../images/gplus-mobile.png") no-repeat;
        padding-left: 29px;
    }
    .loginsignupbuttongbox button {
        padding-left: 0;
    }
    .singupwelcometext {
        font-size: 18px;
    }
    .loginbox {
        width: 100%;
    }
    .accountsuccessmessage {
        width: 90%;
        margin: 30px auto;
    }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    .middlesection {
        padding-top: 10px;
    }
    .boxbuttons span {
        display: none;
    }
    .boxfooter span{
        display: none;
    }
    .boxbuttons ul li {
        padding: 10px 30px 10px 0;
    }
    .stepbutton {
        margin: 0 0 30px;
    }
    .modal-content {
        width: 80%;
    }
    .mobilelogo img {
        width: 64%;
        position: relative;
        left: -5%;
    }
    .boxcontent h3.mainword {
        width: 85%;
    }
    .socialbox button.fblogin {
        background-position: 6px 8px !important;
        background: url("../images/facebook-mobile.png");
        background-repeat: no-repeat;
    }
    .socialbox button {
        font-size: 11px;
        padding-left: 12px;
    }
    .socialbox button.gpluslogin {
        background-position: 6px 8px !important;
        background: url("../images/gplus-mobile.png") no-repeat;
        padding-left: 29px;
    }
    .loginsignupbuttongbox button {
        padding-left: 0;
    }
    .singupwelcometext {
        font-size: 18px;
    }
    .loginbox {
        width: 100%;
    }
    .accountsuccessmessage {
        width: 90%;
        margin: 30px auto;
    }
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
    .middlesection {
        padding-top: 10px;
    }
    .boxbuttons span {
        display: none;
    }
    .boxfooter span{
        display: none;
    }
    .boxbuttons ul li {
        padding: 10px 30px 10px 0;
    }
    .stepbutton {
        margin: 0 0 30px;
    }
    .modal-content {
        width: 80%;
    }
    .mobilelogo img {
        width: 64%;
        position: relative;
        left: -5%;
    }
    .socialbox button.fblogin {
        background-position: 6px 8px !important;
        background: url("../images/facebook-mobile.png");
        background-repeat: no-repeat;
    }
    .socialbox button {
        font-size: 11px;
        padding-left: 12px;
    }
    .socialbox button.gpluslogin {
        background-position: 6px 8px !important;
        background: url("../images/gplus-mobile.png") no-repeat;
        padding-left: 29px;
    }
    .loginsignupbuttongbox button {
        padding-left: 0;
    }
    .singupwelcometext {
        font-size: 18px;
    }
    .loginbox {
        width: 100%;
    }
    .accountsuccessmessage {
        width: 90%;
        margin: 30px auto;
    }
    
}
@media only screen and (min-width: 480px) and (max-width: 900px) {
    .stepbutton {
        margin: 0 0 30px;
    }
    .mobilelogo img {
        width: 35%;
        position: relative;
        left: -5%;
    }
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
    .animenu__toggle {
    display: block;
    cursor: pointer;
    border: 0;
    padding: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    }
    .animenu {
        display: block;
        z-index: 4;
        position: absolute;
        width: 110%;
        padding: 0;
        margin: auto;
        left: -2%;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
.material-icons {
    font-size: 22px;
    display: inline-flex;
    vertical-align: middle;
}
.text-active {
    color: #44788C !important;
    vertical-align: middle;
}
.error label {
    color: red !important;
}
/* --------------------------------

xpopup

-------------------------------- */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(6, 6, 6, 0.68);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    z-index: 99999;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    left: auto !important;
    margin: 4em auto;
    max-width: 500px;
    position: relative;
    transform: translateY(-40px);
    transition-duration: 0.3s;
    transition-property: transform;
    width: 90%;
}
.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
}
.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 0.25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 0.25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); 
}
@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 4em auto;
    }
}
/*--  other pages css --*/

.success-head {
    color: #6a6a6a;
    font-size: 17px;
    margin: 25px 0 30px;
    text-align: center;
}
.success-text {
    color: #696969;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    padding: 6px;
}
.ok-btn {
    color: #437c90;
    display: inline-block;
    text-align: center;
    width: 130px;
}
.forgot-btn-box .ok-btn {
    margin-bottom: 5px;
}
.singupwelcometext2 {
    margin: 25px 0 30px;
}
.modal-btn-bx {
    padding: 10px 30px;
    margin-bottom: 10px;
    overflow: hidden;
}
.btn-teal {
    background-color: transparent;
    border: 1px solid #437c90;
    font-size: 14px;
    color: #437c90 !important;
    padding: 6px 20px;
    vertical-align: middle;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
    text-align: center;
    text-decoration: none !important;
}
.btn-teal:hover {
    text-decoration: none;
    background-color: #437c90;
    color: #fff !important;
}
.btn-yellow {
    background-color: transparent;
    border: 1px solid #ebb843;
    font-size: 14px;
    color: #ebb843 !important;
    padding: 6px 20px;
    vertical-align: middle;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
    text-align: center;
    text-decoration: none !important;
}
.btn-yellow:hover {
    text-decoration: none;
    background-color: #ebb843;
    color: #fff !important;
}
.cd-popup-container h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin: 15px auto;
}
.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}
.error-actions .btn {
    margin-right: 10px;
}
/* Login header dropdown */

.after-login-menu {
    padding-top: 20px;
}
.after-login-menu .dropdown-toggle {
    color: #fff;
    font-size: 16px;
}
.after-login-menu .dropdown-toggle:hover {
    text-decoration: none;
}
.after-login-menu .dropdown-toggle img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}
.after-login-menu .dropdown-menu {
    margin: 15px auto;
    min-width: 200px;
    font-size: 16px;
    background-color: #ebb331;
    border: none !important;
    border-radius: 0px !important;
    right: 0;
    right: 0px;
    left: auto;
    z-index: 999999;
}
.after-login-menu .dropdown-menu > li > a {
    padding: 5px 20px;
    color: #fff;
    font-size: 16px;
}
.after-login-menu .dropdown-menu > li > a:hover {
    color: #362925;
}
.popover-content {
    height: auto;
    max-height: 100px;
    overflow-y: auto;
    padding-bottom: 10px;
}
.progress-bar {
    background-color: #437c90 !important;
}
/*New Misssing Css for login*/
/***media quiries***/

@media only screen and (min-width: 240px) and (max-width: 320px) {
    .boxbuttons span {
        display: none;
    }
    .boxfooter span{
        display: none;
    }
    .boxbuttons ul li {
        padding: 10px 30px 10px 0;
    }
    .stepbutton {
        margin: 0px 0px 30px 0px;
    }
    .modal-content {
        width: 80%;
    }
    .mobilelogo img {
        width: 64%;
        position: relative;
        left: -5%;
    }
    .boxcontent h3.mainword {
        width: 85%;
    }
    .loginbox {
        width: 95%;
        left: 0;
        position: relative;
        margin: 40px 0px 0px 0px;
    }
    .socialbox button.fblogin {
        background-position: 6px 8px !important;
        background: url(../images/facebook-mobile.png);
        background-repeat: no-repeat;
    }
    .socialbox button {
        font-size: 11px;
        padding-left: 12px;
    }
    .socialbox button.gpluslogin {
        background-position: 6px 8px !important;
        background: url(../images/gplus-mobile.png) no-repeat;
        padding-left: 29px;
    }
    .loginsignupbuttongbox button {
        padding-left: 0;
    }
    .singupwelcometext {
        font-size: 18px;
    }
    .accountsuccessmessage {
        width: 90%;
        margin: 30px auto 30px auto;
    }
    /* new css */
    
    .loginbox {
        left: auto;
        margin: 70px auto;
        position: relative;
        top: auto;
        width: 100%;
    }
    .signupformbox form {
        width: 90%;
    }
    .loginsignupbuttongbox {
        width: 90%;
    }
    .socialbox {
        width: 90%;
    }
    .success-text {
        padding: 0 20px;
    }
    /*UI fixes*/
    .explore-input input{
      width: 77%;
    }
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
    .boxbuttons span {
        display: none;
    }
    .boxfooter span{
        display: none;
    }
    .boxbuttons ul li {
        padding: 10px 30px 10px 0;
    }
    .stepbutton {
        margin: 0px 0px 30px 0px;
    }
    .modal-content {
        width: 80%;
    }
    .mobilelogo img {
        width: 64%;
        position: relative;
        left: -5%;
    }
    .boxcontent h3.mainword {
        width: 85%;
    }
    .socialbox button.fblogin {
        background-position: 6px 8px !important;
        background: url(../images/facebook-mobile.png);
        background-repeat: no-repeat;
    }
    .socialbox button {
        font-size: 11px;
        padding-left: 12px;
    }
    .socialbox button.gpluslogin {
        background-position: 6px 8px !important;
        background: url(../images/gplus-mobile.png) no-repeat;
        padding-left: 29px;
    }
    .loginsignupbuttongbox button {
        padding-left: 0;
    }
    .singupwelcometext {
        font-size: 18px;
    }
    .accountsuccessmessage {
        width: 90%;
        margin: 30px auto 30px auto;
    }
    /* new css */
    
    .loginbox {
        left: auto;
        margin: 70px auto;
        position: relative;
        top: auto;
        width: 100%;
    }
    .signupformbox form {
        width: 90%;
    }
    .loginsignupbuttongbox {
        width: 90%;
    }
    .socialbox {
        width: 90%;
    }
    .success-text {
        width: 90%;
    }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
    .boxbuttons span {
        display: none;
    }
    .boxfooter span{
        display: none;
    }
    .boxbuttons ul li {
        padding: 10px 30px 10px 0;
    }
    .stepbutton {
        margin: 0px 0px 30px 0px;
    }
    .modal-content {
        width: 80%;
    }
    .mobilelogo img {
        width: 64%;
        position: relative;
        left: -5%;
    }
    .socialbox button.fblogin {
        background-position: 6px 8px !important;
        background: url(../images/facebook-mobile.png);
        background-repeat: no-repeat;
    }
    .socialbox button {
        font-size: 11px;
        padding-left: 12px;
    }
    .socialbox button.gpluslogin {
        background-position: 6px 8px !important;
        background: url(../images/gplus-mobile.png) no-repeat;
        padding-left: 29px;
    }
    .loginsignupbuttongbox button {
        padding-left: 0;
    }
    .singupwelcometext {
        font-size: 18px;
    }
    .accountsuccessmessage {
        width: 90%;
        margin: 30px auto 30px auto;
    }
    /* new css */
    
    .loginbox {
        left: auto;
        margin: 70px auto;
        position: relative;
        top: auto;
        width: 100%;
    }
    .signupformbox form {
        width: 90%;
    }
    .loginsignupbuttongbox {
        width: 90%;
    }
    .socialbox {
        width: 90%;
    }
    
}
@media only screen and (max-width:480px){
 .course-search-bx input, .explore-input input {
   
    font-size: 16px;
    width: 77%!important;
}
.foot-link ul li {
margin: 0 auto;
display:inline-block;
}

}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .stepbutton {
        margin: 0px 0px 30px 0px;
    }
    .mobilelogo img {
        width: 35%;
        position: relative;
        left: -5%;
    }
    /* new css */
    
    .loginbox {
        left: auto;
        margin: 70px auto;
        position: relative;
        top: auto;
        width: 70%;
    }
    .signupformbox form {
        width: 90%;
    }
    .loginsignupbuttongbox {
        width: 90%;
    }
    .socialbox {
        width: 90%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .boxbuttons span {
        display: none;
    }
    .boxfooter span{
        display: none;
    }
    .boxbuttons ul li {
        padding: 10px 30px 10px 0;
    }
    #myDropdown,
    .dd-select,
    .dd-options {
        width: 100% !important;
    }
    #myDropdown2,
    .dd-select,
    .dd-options {
        width: 100% !important;
    }
    #myDropdown3,
    .dd-select,
    .dd-options {
        width: 100% !important;
    }
    .logobox {
        width: 23%;
    }
    // .menuboxmain {
    //     width: 47%;
    // }
    // .menuboxright {
    //     width: 30%;
    // }
    .logobox .logo {
        margin: 10px 0px 0px 0px;
    }
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
.forgotpasslink {
    margin-bottom: 20px;
}
.rtl {
  direction: rtl;
}
.listnametxt{
   color: #333333
}
.listlink{
    text-decoration: none!important;
}
.listprogresstxt{
    color: black;
    text-decoration: none !important;
}
.wb-btn:hover{
    background-color: #447b91;
    color: white;
}
.wb-color{
    color:#447b91;
}
.wb-text-overflow{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.label-floating .form-control {
    padding-left: 8px !important;
}
.no-style {
    list-style: none;
}
.version-text{
    background: inherit;
    color: #fff;
}
.explore-gloss{
    line-height: 1.4em !important;
    text-align: center;
}
.explore-related-words {
    list-style: none;
    padding-left: 6px;
}
.explore-related-words li {
    padding: 0 10px 0 10px;
    display: inline-block;
}
.hop-popover .popover {
    max-width: 300px !important;
}
.hop-popover .popover-content {
    max-height: none !important;
}
.hop-popover ul {
    list-style: none;
    padding:0;
    margin:0;
}

.hop-popover ul li:before {
    content: "• ";
    color: #EBB331; /* or whatever color you prefer */
}

//User Text hover mouse issue
.hoverarrow{
    cursor: default;
}
.explore-input{
    border-bottom: 1px solid #d3cbb8;
    margin: 50px 0 20px;
    width: 100%;
    padding: 0 0 5px;
}

.explore-input > button{ 
    border: medium none;
    box-shadow: none;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 30px;
    background: none;
}

.explore-input input{
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #777777;
    font-size: 16px;
    width: 85%;
    display: inline-block;
    padding: 5px;
}
.explore-input input:focus{
outline: none;
}
.chartist-container > svg > .ct-series-a  .ct-slice-donut  {
    /* give the donut slice a custom colour */
    stroke: #EBB331;
    /* customize stroke width of the donut slices in CSS. Note that this property is already set in JavaScript and label positioning also relies on this. In the right situation though it can be very useful to style this property. You need to use !important to override the style attribute */
    stroke-width: 15px !important;
    /* create modern looking rounded donut charts */
    stroke-linecap: round;
}

.carousel-control.left, .carousel-control.right{
    background-image: linear-gradient(to right,rgba(255,255,255,.15) 0,rgba(0,0,0,.0001) 100%)!important;
}


.carousel-inner > .item {
    padding: 35px;
}

@media (min-width: 992px){
   carousel-inner > .item {
    padding: 0px;
} 
}

.exp-tile-chart
{
  
  background-color: #fff;
  padding: 20px 20px 10px;  
  border-radius: 5px;    
  overflow: hidden;
  height: auto;
}

.exp-tile-chart:last-child
{
  margin-right: 0px;
}

.exp-tile-chart img
{
  width: auto;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
    margin-right: 3px;
}
.exp-tile-chart img:last-child{margin:0px}

.exp-tile-chart label {
  font-size: 24px;
  color: #ded8c8;
  font-weight: 600;
  display: block;
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
  top: 38%;
  left: 0;
  margin: auto;
}

.exp-tile-chart label span
{    color: #ebb331;
}

.exp-tile-chart h1
{
  font-size: 18px;
  color: #777;
  font-weight: 400;
}
.exp-tile-chart h1 img
{
  width: 30px!important;
  height: auto;
}

.carousel-inner>.item{
    padding: 0px!important;
}

.carousel-inner{
    min-height: 240px;
}
.wb-icon-globe{
    background-image: url(../images/listicons/globe.jpg);
}
.wb-icon-building{
      background-image: url(../images/listicons/building.jpg);
}
.wb-icon-newspaper{
      background-image: url(../images/listicons/newspaper.jpg);
}
.web-icon-wine-glass{
      background-image: url(../images/listicons/wineglass.jpg);
}
.wb-icon-rocket{
      background-image: url(../images/listicons/rocket.jpg);
}
.wb-icon-person{
      background-image: url(../images/listicons/person.jpg);
}
.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}
.counter-bg{
    background-image: url('../images/counter/bg.jpg')
}
.carousel-indicators {
  display: none;
}
.rightbox .box_content_text .gloss_text {
  text-align:center;
  font-size:13px;
  color: #a9a9a9;
}
.carousel-control {
  top: 5px;
}