/*----------------------------------- profile section css ------------------------------------ */

.profile_sec {
    background-color: #ffffff;
    font-family: "latoregular";
    font-size: 18px;
    color: #3b3b3b;
    border-radius: 5px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.22);
    padding: 0;
    margin: 10px auto;
    max-width: 1010px;
    width: 100%;
    position: relative;

}

.prof_border_lft {
    border-left: 1px solid #ebebeb;
}
.profile_sec h1 ,.profile_sec h2{ font-family: "latobold";}

.profile_sec h3,.profile_sec h4,.profile_sec h5,.profile_sec h6{ font-family: "latoregular";}
.no-pad{padding: 0;}
.profile_sec .row{float: left; margin:auto;  width: 100%;}

.profile_sec a{text-decoration: none;}

.profile_sec ul,.profile_sec ol{list-style: none;padding: 0;margin: auto;}

.profile_logout {
    bottom: 20px;
    display: inline-block;
    left: 15px;
    position: absolute;
    width: auto !important;
}

.profile_logout a{

    color: #3b3b3b;
    transition: all 0.3s ease 0s;
}

.profile_logout a span{
    font-size:20px;
    color: #777;
    margin-right:10px;
}
.profile_logout a:hover{
    color: #437c90;
}

.profile_logout a:hover span{
    color: #437c90;
}


.profile-sidebar {
    padding: 0;
    position: relative;
    height: 100%;
}


.side_menu {
    margin: 55px auto 30px;
}

.side_menu ul li a {
    background-color:transparent;
    color: #3b3b3b;
    line-height: 54px;
    display: block;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.side_menu ul li a span {
    font-size: 20px;
    margin: 0 15px 0 25px;
    color: #777777;
}

.side_menu ul li a:hover{
    background-color:#edf0f1;
    color: #437c90;
}

.side_menu ul li a:hover span{
    color: #437c90;
}

.side_menu ul .side_menu_active a{
    background-color:#edf0f1;
    color: #437c90;
}

.side_menu ul .side_menu_active a span{
    color: #437c90;
}


.side_menu ul .side_menu_active a:before {
    position: absolute;;
    content: "";
    left: 0;
    top: 0;
    background-color:#437c90;
    height: 54px;
    width:4px;
}


.go-premium-link {
    text-align: center;
}

.go-premium-link a{
    color: #437c90;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    border-radius: 30px;
    background-color: transparent;;
    transition: all 0.3s ease 0s;
}

.go-premium-link a:hover{
    color: #fff;
    background-color:#ebb331; }

.profile-main {
    padding: 40px 0 30px;
}

.acc_profile_img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 6px solid #f7f5f0;
}

.acc_profile_img img{
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.profile-badge {
    margin: 10px auto !important;
    text-align: center;
}

.profile-badge a{
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: none;
    display: inline-block;
    line-height: 34px;
    padding: 0 17px;
    border-radius: 30px;
    background-color: #ebb331;
    transition: all 0.3s ease 0s;
}


.profile-badge a:hover{
    color: #fff;
    background-color: #437c90;
}

.profile_desc h3 {
    font-size: 22px;
    margin: 20px auto;
}
.profile_location {
    margin-bottom:20px;
}

.profile_location span {
    color: #777777;
    font-size: 20px;
    margin-right: 10px;
}

.profile_soc_icon ul li {
    border-radius: 2px;
    display: inline-block;
}

.profile_soc_icon ul li a{
    font-size: 32px;
    display: inline-block;
    /*transition: all 0.s ease 0s;*/
}


.profile_soc_icon ul .profile_soc_fb a{
    color:#3b5998;
    margin-right: 30px;}

.profile_soc_icon ul .profile_soc_gplus a{
    color:#ea4335;}

.profile_credit img {
    display: inline-block;
    width: 60px;
}

.profile_credit h1 {
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    font-family: "latobold";
    font-size: 30px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    margin-left: 20px;
}


.profile_learning_lang {
    margin: 50px auto 30px !important;
}

.profile_learning_lang h3{
    margin: 0 auto 15px;
    display: block;
    font-size: 18px;
}

.profile_learning_lang img {
    display: inline-block;
    margin-right: 20px;
}

.profile_learning_lang p{
    display: inline-block;
    font-family: 'latolight';

}

.profile_learning_lang p strong {
    font-family: 'latoregular';
    font-weight: 500;
    font-size: 20px;
}
.profile_timeline{
    padding-right: 15px;
}

.profile_timeline h3 {
    border-bottom: 1px solid #ebebeb;
    font-size: 18px;
    margin-bottom:40px;
    padding-bottom: 8px;
}

.profile_timeline .achive-label {
    font-family: "latolight";
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px}


.prof_achive_block {
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
    padding: 15px 30px;
}

.achive_badge {
    display: inline-block;
    float: left;
    margin-right: 30px;
    position:relative;
    width: 70px;
    height: 95px;
}

.achive_badge img{
    width: 100%;
    height: auto;
}


.achive_badge strong {
    color: #c69030;
    display: block;
    font-family: "latobold";
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 100%;
}

.prof_achive_block h3 {
    border: medium none;
    color: #c69030;
    line-height: 30px;
    margin: 15px auto;
}

.prof_divider {
    background: #f1f1f1 none repeat scroll 0 0;
    clear: both;
    display: block;
    float: left;
    height: 1px;
    margin: 35px auto !important;

}


/*-----------------profile-setting---------------------*/
.profile-setting {
    padding: 10px 0 30px;
}
.setting-tab-hr
{
    height: 0px;
    border: 1px solid #ebebeb;
    overflow: hidden;
}
.profile-setting-tab .nav-tabs
{
    border-bottom: none;
}
.profile-setting-tab .nav-tabs li
{
    margin-right: 60px;
}
.profile-setting-tab .nav-tabs li:last-child
{
    margin-right: 0px;
}
.profile-setting-tab .nav-tabs li a
{
    color: #3b3b3b;
    font-family: 'latoregular';
    padding: 10px 5px;
}
.profile-setting-tab .nav-tabs li.active a
{
    border:none!important;
    border-bottom: 3px solid #437c90!important;
    color: #437c90;
}
.profile-setting .tab-pane .form-control
{
    border:1px solid #ddd!important;
    background-image: none!important;
    border-radius: 4px;
    padding: 0 10px;
}
.profile-setting .tab-pane .form-group label
{
    font-family: 'latoregular';
    font-size: 18px;
    color: #777;
}
.profile-setting .tab-pane .btn-soc
{
    border:1px solid #ebebeb;
    text-transform: none;
    font-family: 'work_sansregular';
    font-size: 16px;
}
.profile-setting .tab-pane .btn-soc .fa-facebook
{
    color: #3765a3;
    font-size: 22px;
    margin-right: 40px;
}
.profile-setting .tab-pane .btn-soc .fa-google-plus
{
    color: #d44132;
    font-size: 22px;
    margin-right: 38px;
}
.profile-setting .tab-pane .btn-primary
{
    width: 173px;
    height: 40px;
    border:1px solid #437c90;
    color: #437c90!important;
    text-transform: none;
    font-size: 18px;
    margin-top: 53px;
    background: #fff!important;
    font-family: work_sansregular;
    font-size: 14px;
    vertical-align: middle;
}

.profile-stat {
    padding: 40px 15px 30px;
}
.my_course {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
    margin-right: 15px;
    padding: 0;
    width: 64.5%;
}

.my_course h3 {
    border-bottom: 1px solid #f6f6f6;
    color: #3b3b3b;
    font-family: latolight;
    font-size: 20px;
    margin: 0 auto 10px;
    padding: 10px 15px;
}
.my_course_list {
    overflow: hidden;
    padding: 0 15px;
}

.my_course_list ul li {
    border-bottom: 1px solid #f6f6f6;
    color: #666966;
    display: block;
    float: left;
    font-size: 16px;
    padding: 15px 0;
    width: 100%;
}

.my_course_list ul li img{
    margin-right: 15px;
    float: left;
}
.my_course_list p {
    float: left;
    margin: auto;
}
.my_course_list ul li .my_course_bar {
    background-color: #e8e5de;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    float: right;
    line-height: 0;
    margin: 7px 45px 0 15px;
    position: relative;
    width: 36%;
}
.my_course_list ul li .my_course_bar svg{
    border-radius: 10px !important;
    height: 8px !important;
}

.my_course_list ul li .my_course_bar .progressbar-text{
    right: -45px !important;
    top: 3px !important;
}
.my_course_wd_cnt{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
    padding: 0;
}
.my_course_wd_cnt h3 {
    border-bottom: 1px solid #ebebeb;
    color: #3b3b3b;
    font-family: latolight;
    font-size: 20px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
}
.profile-stat .profile-setting-tab .nav-tabs {
    text-align: center;
}

.profile-stat .profile-setting-tab .nav-tabs li {
    display: inline-block;
    float: none;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}

.profile-stat .setting-tab-hr {
    margin: auto;
}

.profile-stat .tab-content{
    margin: 30px auto 0;}

.freq_rank
{  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
    margin-right: 15px;
    padding: 0;
    margin: 30px auto 0;
}

.freq_rank h3 {
    border-bottom: 1px solid #f6f6f6;
    color: #3b3b3b;
    font-family: latolight;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 15px;
}

.prof_mastered_wd {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
    float: none;
    margin: 10px auto 30px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.prof_mastered_wd h3 {
    color: #ff9700;
    font-family: latoregular;
    font-size: 18px;
}
.prof_border_lft .freq_rank_no {
    font-size: 13px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.freq_rank .prof_mastered_wd h1 {

    font-family: latoregular;
    font-size: 24px;
    color: #3b3b3b;
    border-bottom: 1px solid #e1e1e1;
    padding: 30px 0 20px;
    margin: 0 auto 40px;
    text-align: center;
    float: left;
    width: 100%;
}


.freq_rank .prof_mastered_wd h1 span{

    font-size: 16px;
    margin: 30px auto;
    text-align: center;
}

.my_course_wd_cnt #wordsMastered {
    margin: 30px auto 10px;
    text-align: center;
}


.freq_rank_chart {
    padding: 0 15px;
}

.freq_rank_chart img{
    width: 100%;height: auto;
}
.freq_rank_chart ul {
    margin: 20px auto 10px;
    padding: 0;
}

.freq_rank_chart .freq_rank_label {
    display: inline-block;
    font-size: 14px;
    margin: 0 7px;
}
.freq_rank_chart .freq_rank_label:last-child{
    margin-right: auto;
}

.freq_rank_chart .freq_rank_label span {
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    margin-right: 12px;
    position: relative;
    top: 5px;
    width: 20px;
}

.freq_rank_chart .freq_rank_label.freq_rank_label_orange span{
    background: #ff9700;
}

.freq_rank_chart .freq_rank_label.freq_rank_label_yellow span{
    background: #ffce00;
}

.freq_rank_chart .freq_rank_label.freq_rank_label_green span{
    background: #a3d800;
}

.freq_rank_chart .freq_rank_label.freq_rank_label_blue span{
    background: #51d5f4;
}



/*pricing plan --*/
.price_plan
{
    padding: 10px 0 200px;
}

.price_plan .price_plan_blk {
    padding: 0 10px;
}

.price_plan .plan-tile h1
{
    font-family: 'latore';
    font-size: 34px;
    color: #fff;
    text-align: center;
    min-height: 103px;
}
.price_plan .plan-tile h1 span
{
    font-size: 18px;
    display: block;
    font-weight: normal;
    margin-top: 23px;
}
.price_plan .price_plan_blk.price_plan_green .plan-tile
{
    margin-top: 130px;
    min-height: 485px;
}
.price_plan .price_plan_blk.price_plan_blue .plan-tile
{
    margin-top: 105px;
    min-height: 545px;
}
.price_plan .price_plan_blk.price_plan_purple .plan-tile
{
    margin-top: 130px;
    min-height: 485px;
}
.price_plan .price_plan_blk.price_plan_green .plan-tile h1
{
    padding-top: 30px;
    margin-bottom: 78px;
    background: -moz-linear-gradient(top, #a4e03e 0%, #90d23c 50%, #7dc239 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a4e03e 0%,#90d23c 50%,#7dc239 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a4e03e 0%,#90d23c 50%,#7dc239 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4e03e', endColorstr='#7dc239',GradientType=0 ); /* IE6-9 */
}
.price_plan .price_plan_blk.price_plan_blue .plan-tile h1
{
    padding-top: 10px;
    margin-bottom: 30px;
    background: -moz-linear-gradient(top, #3ecfb1 0%, #43c6b8 50%, #49bac2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3ecfb1 0%,#43c6b8 50%,#49bac2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3ecfb1 0%,#43c6b8 50%,#49bac2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ecfb1', endColorstr='#49bac2',GradientType=0 ); /* IE6-9 */
}
.price_plan .price_plan_blk.price_plan_purple .plan-tile h1
{
    padding-top: 10px;
    margin-bottom: 40px;
    background: -moz-linear-gradient(top, #b96adc 0%, #a76ce7 50%, #956ef2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b96adc 0%,#a76ce7 50%,#956ef2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b96adc 0%,#a76ce7 50%,#956ef2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b96adc', endColorstr='#956ef2',GradientType=0 ); /* IE6-9 */
}
.price_plan .plan-tile
{
    width: 100%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.22);
    text-align: center;
}
.price_plan .plan-tile p
{
    font-family: 'latoregular';
    font-size: 15px;
    font-weight: normal;
    color: #434242;
    line-height: 26px;
}
.price_plan .plan-tile .btn-blue-buy
{
    font-family: 'latobold';
    font-size: 18px;
    width: 205px;
    height: 50px;
    background-color: #3cbec0;
    text-transform: none;
    border-radius: 50px;
    color: #fff;
    padding: 12px 0px;
    margin-top: 45px;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}

.price_plan .plan-tile .btn-blue-buy:hover{transform: scale(0.97); 	background-color: #3cbec0 !important;}
.price_plan .plan-tile .btn-purple-buy
{
    font-family: 'latobold';
    font-size: 18px;
    width: 205px;
    height: 50px;
    background-color: #aa6be5;
    text-transform: none;
    border-radius: 50px;
    color: #fff;
    padding: 12px 0px;
    margin-top: 62px;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}

.price_plan .plan-tile .btn-purple-buy:hover{transform: scale(0.97); 	background-color: #aa6be5 !important;}


@media only screen and (min-width: 768px) and (max-width:1010px){

    .profile_sec {
        font-size: 16px;
    }
    .profile_location {
        margin-bottom: 13px;
    }
    .profile_credit img {
        width: 40px;
    }
    .profile_credit h1 {
        font-size: 24px;
        height: 45px;
        line-height: 45px;
        width: 45px;
    }
    .profile_learning_lang {
        margin: 30px auto 10px !important;
    }


    .profile-setting-tab .nav-tabs li {
        margin: auto;
        text-align: center;
        width: 33%;
    }

    .my_course {
        width: 63.5%;
    }

    .my_course_wd_cnt h3 {
        font-size: 16px;
    }
    .my_course_list ul li .my_course_bar {
        float: left;
        margin: 20px auto 0;
        width: 88%;
    }

    .freq_rank_chart .freq_rank_label {
        float: left;
        margin: 0 30px 15px;
        width: 36%;
    }



    .price_plan .price_plan_blk {
        padding: 0 7px;
    }
    .price_plan .price_plan_blk.price_plan_green .plan-tile {
        margin-top: 80px;
    }
    .price_plan .price_plan_blk.price_plan_blue .plan-tile {
        margin-top: 40px;
    }

    .price_plan .price_plan_blk.price_plan_purple .plan-tile {
        margin-top: 80px;
    }

    .price_plan .plan-tile h1 {
        font-size: 26px;
        margin: auto !important;
        padding: 20px 10px !important;
    }
    .price_plan .plan-tile h1 span {
        font-size: 16px;
        margin-top: 12px;
    }
    .price_plan .plan-tile p {
        font-size: 14px;
    }

    .price_plan .plan-tile .btn-blue-buy {
        margin: 25px auto 15px;
        width: 85%;
    }

    .price_plan .plan-tile .btn-purple-buy {
        margin: 25px auto 15px;
        width: 85%;
    }


}



@media only screen and (min-width: 481px) and (max-width:767px){
    .no-pad {
        padding: 0 15px;
    }

    .profile_desc {
        text-align: center;
    }
    .profile_soc_icon{
        text-align: center;
    }
    .profile_soc_icon ul li{
        margin: 0 20px;}
    .profile_soc_icon ul a{margin: auto !important;}

    .profile_credit{
        text-align: center;
    }

    .profile_learning_lang {
        margin: 30px auto !important;
        text-align: center;
    }

    .profile_timeline {
        padding: 0;
    }
    .prof_achive_block {
        padding: 15px;
    }


    .acc_profile_img {
        margin: auto;
        width: 75% !important;
    }
    .prof_achive_block h3 {
        line-height: 26px;
        margin: 15px auto 0;
    }


    .profile-setting-tab .nav-tabs li {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .profile-stat .profile-setting-tab .nav-tabs li {

        width: auto !important;
    }

    .my_course {
        margin: 0 auto 30px;
        width: 100%;
    }
    .my_course_list ul li .my_course_bar {
        clear: both;
        float: left;
        margin: 20px auto 0;
        width: 90%;
    }

    .freq_rank_chart .freq_rank_label {
        display: inline-block;
        float: left;
        margin: 0 auto 10px;
        width: 50%;
    }



    .price_plan .price_plan_blk {
        float: none;
        margin: auto;
        width: 70%;
    }
    .price_plan .price_plan_blk .plan-tile {
        margin: 0 auto 40px !important;
    }


}


@media only screen and (max-width: 480px){
    .no-pad {
        padding: 0 15px;
    }
    .acc_profile_img {
        margin: auto;
        width: 85%;
    }

    .profile_desc {
        text-align: center;
    }
    .profile_soc_icon{
        text-align: center;
    }
    .profile_soc_icon ul li{
        margin: 0 20px;}
    .profile_soc_icon ul a{margin: auto !important;}

    .profile_credit{
        text-align: center;
    }
    .profile_timeline {
        padding: 0;
    }
    .prof_achive_block {
        padding: 15px;
    }

    .prof_achive_block h3 {
        line-height: 26px;
        margin: 5px auto 0;
    }

    .my_course {
        margin: 0 auto 20px;
        width: 100%;
    }

    .my_course_list ul li .my_course_bar {
        clear: both;
        float: left;
        margin: 20px auto 0;
        width: 83%;
    }
    .prof_mastered_wd h3 {
        display: inline-block;
        text-align: left;
    }
    .prof_border_lft .freq_rank_no {
        display: inline-block;
        float: right !important;
        padding: 10px;
        position: static;
        text-align: right;
    }

    .freq_rank .prof_mastered_wd h1 {
        margin: 0 auto 30px;
        padding: 20px 0;
    }

    .freq_rank_chart .freq_rank_label {
        display: block;
        margin: 0 auto 10px;
    }



    .price_plan .price_plan_blk .plan-tile {

        margin: 0 auto 40px !important;
    }
}



/*-------------------- header menu css -------------*/
.header.visible-xs.visible-sm .container {
    padding: 0;
}
.header.visible-xs.visible-sm .menuboxright {
    background: #ebb331 none repeat scroll 0 0;
    padding: 0 10px;
    position: static;
}

.header.visible-xs.visible-sm .topmenu {
    display: inline-block;
    float: left;
    padding: 0;
    text-align: center;
    z-index: 99999;
}

.header.visible-xs.visible-sm .topmenu ul li {
    margin-bottom: 10px;
    margin-right: 6px !important;
    margin-top: 15px;
}


.header.visible-xs.visible-sm .menuboxright.pull-right {
    float: right;
    padding: 10px 0;
    width: auto;
}

.header.visible-xs.visible-sm  .after-login-menu .dropdown-toggle img {

    width: 35px; margin-right: 3px;
}

.header.visible-xs.visible-sm  .after-login-menu .dropdown-toggle {

    font-size: 15px;
}

.header.visible-xs.visible-sm  .after-login-menu .dropdown-menu li {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.header.visible-xs.visible-sm  .mobilelogo {
    float: right;
    position: relative;
    text-align: center;
    width: 94%;
    z-index: 99999;
}

.header.visible-xs.visible-sm  .mobilelogo img {
    left: auto;
    margin: auto;
    position: relative;
    text-align: center;
    width: 190px;
}


@media only screen and (min-width: 480px) and (max-width: 900px){

    .header.visible-xs.visible-sm .topmenu ul li {
        margin-right: 30px !important;
    }

    .header.visible-xs.visible-sm  .after-login-menu .dropdown {
        float: right;
        position: relative;
        width: 50%;
    }

}