/*QUIZ_1st type of question page Css start*/
.qz .qz-progress-bar {
  background: #eceae4;
  border-radius: 5px;
  clear: both;
  display: block;
  float: none;
  height: 8px;
  margin: 60px auto 30px;
  width: 800px;
}

.qz .qz-progress-bar:after
{
  content: '';
  display: block;
  background-color: #437c90;
  height: 8px;
  width: 0px;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

.qz .col-sm-12 {
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  padding: 30px 15px;
  margin: auto;
  float: none;
  max-width: 850px;
  
}
.qz .col-sm-12 label
{
  display: block;
  text-align: center;
  font-size: 22px;
  line-height: initial;
}
.qz .col-sm-12 h1 {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 100;
  margin: 75px auto;
  text-align: center;
}
.qz .col-sm-12 .btn-info {
  border: 1px solid #437c90;
  border-radius: 5px;
  color: #437c90;
  font-size: 18px !important;
  font-weight: 600;
  padding: 15px 0;
  text-transform: none;
  width: 175px;
  background-color: rgba(255,255,255,.15);
  margin-bottom: 25px;
}
.qz .col-sm-12 .btn-info:hover
{
  background-color: #437c90 !important;
  color: #fff!important;
}
.qz .col-sm-12 .btn-wrong
{
  background-color: #e46363;
  color: #fff!important;
  border-color: #e46363;
}
.qz .col-sm-12 .btn-wrong:hover
{
  background-color: #e46363!important;
  color: #fff!important;
  border-color: #e46363!important;
}
.qz .col-sm-12 .btn-hide
{
  background-color: #fff;
  color: #bcbcbc!important;
  border-color: #bcbcbc;
}
.qz .col-sm-12 .btn-hide:hover
{
  background-color: #fff!important;
  color: #bcbcbc!important;
  border-color: #bcbcbc!important;
}
.qz .col-sm-12 .btn-correct
{
  background-color: #61b891;
  color: #fff!important;
  border-color: #61b891;
}
.qz .col-sm-12 .btn-correct:hover
{
  background-color: #61b891!important;
  color: #fff!important;
  border-color: #61b891!important;
}
.qz .label-correct
{
  color: #61b891!important;
}

.qz .wrong-label
{
  color: #e46363!important;
}
.qz .btn-cont {
  border: 2px solid #437c90;
  border-radius: 5px;
  color: #437c90 !important;
  font-size: 20px !important;
  font-weight: 600;
  margin: 47px auto 0;
  padding: 8px 0;
  text-transform: none;
  width: 200px;
}


.qz .btn-cont:hover
{
  background-color: #437c90 !important;
  color: #fff !important;
}
.qz .sk {
  color: #777777;
  display: inline-block;
  font-size: 20px;
  margin: 35px auto 0;
  text-decoration: none;
}

.qz .sk:hover {
  color: #437c90;
}

.qz .tooltip-inner
{
  min-width: 105px;
  background-color: #fff;
  color: #437c90;
  font-size:16px;
  padding: 10px 5px;
}
.qz .tooltip-arrow
{
  display: block!important;
  border-top-color: #fff!important;
}


@media only screen and (min-width:481px) and (max-width:767px){

  .qz .col-sm-12 {
    margin: 0 auto;
    min-height: auto;
    padding: 50px 15px 35px;
    width: 92%;
  }


  .qz .col-sm-12 h1 {
    font-size: 20px;
    line-height: initial;
    margin: 85px auto 70px;
  }

  .qz .col-sm-12 .btn-info {
    padding: 10px 0;
    width: 100%;
  }


  .qz .col-sm-12 label {
    font-size: 20px;
  }


  .qz .qz-progress-bar {
    border-radius: 8px;
    height: 15px;
    margin: 50px auto 40px;
    width: 92%;
  }
  .qz .qz-progress-bar::after {
    border-radius: 8px;
    height: 15px;
  }


}

@media only screen and (max-width:480px){

  .qz .col-sm-12 {
    margin: 0 auto;
    min-height: auto;
    padding: 40px 15px 25px;
    width: 94%;
  }


  .qz .col-sm-12 h1 {
    font-size: 14px;
    line-height: initial;
    margin: 45px auto;
  }

  .qz .col-sm-12 .btn-info {
    font-size: 16px !important;
    padding: 8px 0;
    width: 100%;
  }


  .qz .col-sm-12 label {
    font-size: 16px;
  }

  .qz .qz-progress-bar {
    width: 90%;
    margin: 50px auto 30px;
  }


  .qz .btn-cont {
    font-size: 18px !important;
    width: 160px;   margin: 45px auto 0;

  }

  .qz .sk {
    font-size: 18px;
    margin: 45px auto 0;
  }

}
/*QUIZ_1st type of question page Css end*/




/*QUIZ_2st type of question page Css start*/
.qz2 .col-sm-12 {
  padding: 50px 15px 0;
}

.qz .form-group textarea::-moz-placeholder,.qz .form-group textarea::-webkit-placeholder,.qz .form-group textarea::placeholder {
  font-size: 16px;
  color: #848484;
}
.qz .form-group textarea {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #3b3b3b;
  display: block;
  font-size: 20px;
  margin: 40px auto 10px;
  max-width: 670px;
  padding: 10px 30px;
  width: 90%;
}

.qz .form-group textarea:focus {
  border: 1px solid #437c90;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
}

.qz .voice-icon {

  margin-left: 97px;
}
.qz-link-btm {
  color: #3b3b3b;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto 20px;
}
.qz-link-btm:hover {
  text-decoration: none;
  color: #437c90;
}
.qz .col-sm-12 .label-hint {
  color: #777777;
  margin: 40px auto 0;
}

.qz .col-sm-12 h1 span.correct-word {
  color: #61b891 !important;
}

.qz-link-btm-2 {
  color: #777777;
  display: inline-block;
  font-size: 18px;
  margin: 40px auto;
}


.qz-link-btm-2:hover{
  color:#437c90;
  text-decoration: none;
}


.qz2 .label-correct {
  margin-bottom: 150px !important;
}

.qz .col-sm-12 .label-hint {
  margin: 42px auto 0;
  position: relative;
  top: 53px;
}


@media only screen and (min-width:481px) and (max-width:767px){
  .qz2 .col-sm-12 {
    margin: 0 auto;
    min-height: auto;
    padding: 50px 15px 0;
    width: 92%;
  }

  .qz .form-group textarea{
    font-size: 16px;
    color: #848484;
    padding: 10px;

  }
  .qz .form-group textarea:focus{
    font-size: 20px;
    color: #3b3b3b;
    padding: 10px;
  }

  .qz-link-btm {
    color: #3b3b3b;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto 15px;
  }
  .qz2 .sk {
    margin:25px auto 0;
  }

  .qz2 .label-correct {
    margin-bottom: 60px !important;
  }
  .qz .voice-icon {
    display: block;
    margin: 25px auto 0;
    text-align: center;
  }
  .qz2 .col-sm-12 .label-hint {
    margin: 0 auto;
    top: 25px;
  }

  .qz-link-btm-2 {
    font-size: 16px;
    margin: 15px auto 25px;
  }


}

@media only screen and (max-width:480px){
  .qz2 .col-sm-12 {
    margin: 0 auto;
    min-height: auto;
    padding: 40px 15px 25px;
    width: 94%;
  }

  .qz .form-group textarea{
    font-size: 16px;
    color: #848484;
    padding: 10px;

  }
  .qz .form-group textarea:focus{
    font-size: 20px;
    color: #3b3b3b;
    padding: 10px;
  }

  .qz-link-btm {
    color: #3b3b3b;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto 15px;
  }
  .qz2 .sk {
    margin:25px auto 0;
  }

  .qz2 .label-correct {
    margin-bottom: 60px !important;
  }
  .qz .voice-icon {
    display: block;
    margin: 25px auto 0;
    text-align: center;
  }

  .qz2 .col-sm-12 .label-hint {
    margin: 0 auto;
    top: 25px;
  }

  .qz-link-btm-2 {

    font-size: 16px;
    margin: 25px auto 0;
  }

}


/*QUIZ_3st type of question page Css start*/
.qz3 .col-sm-12 {
  text-align: center;
  padding: 50px 15px 0;
}


.qz .col-sm-12 h1 ~ h3 {
  clear: both;
  color: #3b3b3b;
  display: inline-block;
  font-size: 18px;
  margin: 15px 110px 0px auto;
  text-align: left;
}

.qz .col-sm-12 h1 ~ h3 {
  bottom: 55px;
  clear: both;
  color: #3b3b3b;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin:0 auto -55px;
  position: relative;
  text-align: center;
}

.qz3 .col-sm-12 h1 ~ h3 {
  margin-left: -110px ;
  text-align: left;
}

.qz3 .label-correct {
  margin: 0 auto 105px;
}


@media only screen and (min-width:481px) and (max-width:767px){

  .qz3 .label-correct {
    margin: auto;
  }
  .qz3 .col-sm-12 h1 ~ h3 {
    margin:auto;
    text-align: center;
  }
  .qz .col-sm-12 h1 ~ h3 {
    bottom: 35px;
    font-size: 22px;
    margin: auto;
  }

  .qz3 .label-correct ~ h1{
    margin: 40px auto 0;
  }

  .qz3 .label-correct ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


  .qz3 .label-correct ~ h1 ~ h3 ~ .voice-icon,.qz3 .wrong-label ~ h1 ~ h3 ~ .voice-icon {
    padding-bottom:50px;
  }

  .qz3 .col-sm-12 .wrong-label ~ .label-hint {
    position: static;
  }

  .qz3 .col-sm-12 .wrong-label ~ .label-hint ~ h1 {
    margin: 15px auto 5px;
  }

  .qz3 .wrong-label ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


}
@media only screen and (max-width:480px){


  .qz3 .label-correct {
    margin: auto;
  }
  .qz3 .col-sm-12 h1 ~ h3 {
    margin:auto;
    text-align: center;
  }
  .qz .col-sm-12 h1 ~ h3 {
    bottom: 35px;
    font-size: 16px;
    margin: auto;
  }

  .qz3 .label-correct ~ h1{
    margin: 40px auto 0;
  }

  .qz3 .label-correct ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


  .qz3 .label-correct ~ h1 ~ h3 ~ .voice-icon,.qz3 .wrong-label ~ h1 ~ h3 ~ .voice-icon {
    padding-bottom:50px;
  }

  .qz3 .col-sm-12 .wrong-label ~ .label-hint {
    position: static;
  }

  .qz3 .col-sm-12 .wrong-label ~ .label-hint ~ h1 {
    margin: 15px auto 5px;
  }

  .qz3 .wrong-label ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


}

/*QUIZ_3st type of question page Css end*/

/*QUIZ_4th type of question page Css start*/

/*QUIZ_4th type of question page Css end*/



/*QUIZ_5th type of question page Css start*/
.qz5_1 .tooltip-inner
{
  width: 250px!important;
  background-color: #fff;
  color: #437c90;
  font-size:13px!important;
  padding: 20px 25px;
}
.qz5_1 .tooltip-inner:before
{
  content: '_ _ _ _ _ _';
  display: block;
  color: #333;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 20px;
}
.qz5 .tooltip-inner
{
  width: 250px!important;
  background-color: #fff;
  color: #437c90;
  font-size:20px;
  padding: 16px 25px;
}
.qz5 .col-sm-12 {
  text-align: center;
}
.qz5 .col-sm-12 h1 ~ h3 {
  margin-left: -135px;
}

.sp {
  margin: 70px auto 45px !important;
  display: block;
}


@media only screen and (min-width:481px) and (max-width:767px){


  .qz5.label-correct {
    margin: auto;
  }
  .qz5 .col-sm-12 h1 ~ h3 {
    margin:auto;
    text-align: center;
  }

  .qz5 .label-correct ~ h1{
    margin: 40px auto 0;
  }

  .qz5 .label-correct ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


  .qz5 .label-correct ~ h1 ~ h3 ~ .voice-icon,.qz5.wrong-label ~ h1 ~ h3 ~ .voice-icon {
    padding-bottom:50px;
  }

  .qz5 .col-sm-12 .wrong-label ~ .label-hint {
    position: static;
  }

  .qz5 .col-sm-12 .wrong-label ~ .label-hint ~ h1 {
    margin: 15px auto 5px;
  }

  .qz5 .wrong-label ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


}
@media only screen and (max-width:480px){

  .qz5 .label-correct {
    margin: auto;
  }
  .qz5 .col-sm-12 h1 ~ h3 {
    margin:auto;
    text-align: center;
  }

  .qz5 .label-correct ~ h1{
    margin: 40px auto 0;
  }

  .qz5 .label-correct ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


  .qz5 .label-correct ~ h1 ~ h3 ~ .voice-icon,.qz5 .wrong-label ~ h1 ~ h3 ~ .voice-icon {
    padding-bottom:50px;
  }

  .qz5 .col-sm-12 .wrong-label ~ .label-hint {
    position: static;
  }

  .qz5 .col-sm-12 .wrong-label ~ .label-hint ~ h1 {
    margin: 15px auto 5px;
  }

  .qz5 .wrong-label ~ h1 ~ h3{
    margin:10px auto 0;
    position: static;
  }


}


/*QUIZ_5th type of question page Css end*/


/*QUIZ_main type of question page Css start*/
#se .btn-qz
{
  display: inline-block;
  vertical-align: middle!important;
  width: 230px!important;
  height: 60px!important;
  background-color: #437c90!important;
  color: #fff!important;
  text-transform: none!important;
  font-weight:400;
  font-size: 24px;
  margin-top: 130px;
  padding: 14px 0px;
}
.qz-mn .col-sm-12 {
  padding: 50px 15px 0;
}

.qz-mn .qz-link-btm {
  margin: 60px auto 25px;
}

.qz-mn .voice-icon
{
  margin-left: 0;
  margin-right: 97px;
}
.qz-mn .voice-icon-right
{
  margin-left: 97px;
  margin-right: 0;
}
.qz-mn .modal-dialog
{
  width: 750px;
}
.qz-mn .modal-content {
  height: auto;
  padding: 30px 0 20px;
  width: 100%;
}

.qz-mn #fmModal_2 .modal-dialog
{
  width: 387px;
}
.qz-mn #fmModal_2 .modal-content
{
  height: auto;
}
.qz-mn .modal
{
  padding-top: 50px;
}
.qz-mn .modal-body
{
  font-style: Roboto;
  font-weight: 300;
  font-size: 22px;
  padding: 24px 0px!important;
}
.qz-mn .modal-body .btn
{
  width: 200px;
  font-size: 22px;
  font-weight: 300!important;
}
.qz-mn .modal-body .btn:last-child
{
  margin-left: 150px;
  background-color: #437c90;
  color: #fff!important;
}

.qz-mn .wrong-label ~ .label-hint {
  margin: auto;
}

.qz-mn .wrong-label ~ .label-hint ~ h1 {
  margin: 75px auto 0;
}



@media only screen and (min-width:481px) and (max-width:767px){
  .qz-mn .modal-dialog,.qz-mn #fmModal_2 .modal-dialog
  {
    width: 90%;
    margin: 10% auto;
  }
  .qz-mn .modal-body .btn {
    font-size: 18px !important;
    font-weight: 300 !important;
    width: 175px;
  }

  .qz-mn .modal-body .btn:last-child
  {
    margin-left: 10px;
  }
  .qz-mn .modal-body .win-icon
  {
    width: 100%;
  }

  .qz-mn .col-sm-12 {
    min-height: 300px;
    padding: 50px 15px 0;
  }



  .qz-mn .col-sm-12 h1 {
    margin: 45px auto 0;
  }
  .qz-mn .voice-icon {
    margin: 25px auto 0;}


}

@media only screen and (max-width:480px){
  .qz-mn .modal-dialog,.qz-mn #fmModal_2 .modal-dialog
  {
    width: 90%;
    margin: 10% auto;
  }
  .qz-mn .modal-body .btn
  {
    width: 120px;
    font-size: 12px!important;
  }
  .qz-mn .modal-body .btn:last-child
  {
    margin-left: 10px;
  }
  .qz-mn .modal-body .win-icon
  {
    width: 100%;
  }

  .qz-mn .col-sm-12 {
    min-height: 250px;
    padding: 50px 15px 0;
  }

  .qz-mn .col-sm-12 h1 {
    font-size: 14px;
    line-height: initial;
    margin: 45px auto 0;
  }
  .qz-mn .voice-icon {
    margin: 25px auto 0;}
}