<div class="container qz words-dnt" *ngIf="!isCourseCompleted && !isServiceFailed">
  <div class="row">
    <span class="qz-progress-bar" style="height: 8px;">
			<progressbar id="courseprogresbarnew" [value]="progressVal"  ></progressbar>				
		</span>
    <!-- .qz-progress-bar end -->
    <h1 class="word-title">Click each word you don’t know:</h1>
    <div class="col-sm-12">
      <sentence-info-box
      [isRTL]="isRTL"
      mode="2"
      [isLoading]="mainRequestStatus.isServerRequesting && !clickedWord"
      [data]="selectedSentence"
      (onWordClick)="onWordClicked($event)"></sentence-info-box>
      <!--row-->
    </div>
    <!--col-12--><br>
    <!-- WordInfoBox start-->
    <div class="col-sm-12" id="wordInfoCourse" style="padding-top:0px;">
      <carousel [interval]="false" *ngIf="selectedWords?.length > 0">
        <slide *ngFor="let word of selectedWords">
          <div class="row course-prog">
            <div class="col-md-12  exp-tile-chart text-center">
              <word-info-box [mode]="2" [word]="word">
              </word-info-box>
            </div>
          </div>
        </slide>
      </carousel>
      <h1 style="padding-top: 100px;" *ngIf="selectedWords.length == 0">No words selected</h1>
    </div>
    <!-- WordInfo Box End-->
    <br>
  </div>
  <!--row-->
  <div class="row course-btn-wrap">
    <div class="col-md-12  col-xs-12 pull-right">
      <a href="#" class="course-btn course-btn-lg" [ngClass]="{disabled : !canContinue}" data-toggle="modal" data-target="#words-modal">Continue</a>
      <!-- Modal -->
      <div class="modal fade" id="words-modal" tabindex="-1" role="dialog" aria-labelledby="fmModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 100%;">
            <div class="modal-body text-center" style="padding:50px;">
              <h4 *ngIf="reviewWordsCount == 0" >Are you sure you know all of these words?
                <br/>Select any that you want
                to review, or press “Continue”.
              </h4>
              <h4 *ngIf="reviewWordsCount > 0" >You marked {{reviewWordsCount}} words as needed review.
                <br/>Please press "continue" to confirm, or click any word to deselect it .
              </h4>
              <div class="row" *ngIf="reviewSelectedWords.length > 0">
                <p class="selectedwordslist">
                  <button (click)="reviewWords(_word.word)" *ngFor="let _word of reviewSelectedWords"
                    class="btn btn-word-yl gap" [class.selecetdreviewwords]="_word.isSelected">{{_word.word?.text}}</button>
                </p>
                <div *ngIf="selectedWords.length == 0">
                  <h1>No word selected</h1>
                </div>
              </div>
              <!--row-->
              <div class="text-center">
                <a class="course-btn course-btn" data-dismiss="modal" (click)="getNextSentence()">Continue</a><br>
                <a class="bk" (click)="getPrevSentence()" data-dismiss="modal">Back</a>
              </div>
            </div>
          </div>
        </div>
        <!--modal-->
      </div>
    </div>
    <!-- .col end -->
  </div>
  <!-- .row end -->
</div>
<!--container-->
<div class="container qz words-dnt">
  <h1 class="text-center" *ngIf="isCourseCompleted">This course is completed</h1>
  <h1 class="text-center" *ngIf="isServiceFailed">Service is responding empty sentences</h1>
  <a href="#/course/home" *ngIf="isCourseCompleted || isServiceFailed" class="course-btn course-btn-lg text-center">Back</a>
</div>